<div *ngIf="sharedProp.userLogged.permissions[0].role == 9; then thenBlockPatient else elseBlockPatient"></div>

<!-- Patient default init -->
<ng-template #thenBlockPatient>
  <app-patients></app-patients>
</ng-template>

<!-- All users default init -->
<ng-template #elseBlockPatient>
  <br/><br/>

  <div class="welcome_header">
    <img class="welcome_logo" src="../../../../assets/img/logo.png" alt="Sirius RIS">
    <br/><br/>
    <h1>Welcome to Sirius RIS</h1>
  </div>

  <br/>

  <div class="welcome_card">
    <h2 class="underline-fail-alt">About</h2>
    <strong>Sirius RIS</strong> is an open-source radiology information system developed thanks to the following technologies.<br/>
    <br/>
    <mat-chip-list>
      <mat-chip>Angular</mat-chip>
      <mat-chip>RxJS</mat-chip>
      <mat-chip>OHIF</mat-chip>
      <mat-chip>NodeJS</mat-chip>
      <mat-chip>MongoDB</mat-chip>
      <mat-chip>Docker</mat-chip>
    </mat-chip-list>

    <br/><hr class="dashed" /><br/>

    <h2 class="underline-ok-alt">Help</h2>
    <ul>
      <li>Official documentation on <strong><a href="https://github.com/opendicom/sirius-ris" target="_blank">GitHub</a></strong> & <strong><a href="https://hub.docker.com/search?q=opendicom%2Fsirius" target="_blank">DockerHub</a></strong></li>
      <li>Official <strong><a class="link-alt" href="mailto:info@opendicom.com?subject=Support request for Sirius RIS">support service</a></strong></li>
    </ul>
  </div>

  <div class="welcome_card slim" mat-menu-item><mat-icon>speed</mat-icon> Simple, efficient, and fast</div>
  <div class="welcome_card slim" mat-menu-item><mat-icon>verified_user</mat-icon> Robust, secure, and auditable</div>
  <div class="welcome_card slim" mat-menu-item><mat-icon>visibility</mat-icon> <strong>Low-light interface</strong> to suit radiology environments</div>
  <div class="welcome_card slim" mat-menu-item><mat-icon>badge</mat-icon> Unambiguous person identification | <strong>ISO-3166</strong> | <strong>UNAOID/ICAO v1.0</strong></div>
  <div class="welcome_card slim" mat-menu-item><mat-icon>account_tree</mat-icon> <strong>Scalable privilege system</strong> for users</div>

  <div class="clear"></div>

  <img class="earth_planet" src="../../../../assets/img/earth_planet_purple.png" alt="Earth planet">
</ng-template>