<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutAlign="start start">

    <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
      <h4>Service:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Service</mat-label>
        <mat-select formControlName="domain" (closed)="onChangeService()" placeholder="Select the service">
          <div *ngFor="let currentService of availableServices">
            <div *ngFor="let currentBranch of availableBranches">
              <div *ngFor="let currentOrganization of availableOrganizations">
                <mat-option (click)="setBranch(currentService.fk_branch, currentService.fk_equipments)" *ngIf="currentBranch.fk_organization == currentOrganization._id && currentService.fk_branch == currentBranch._id" value="{{ currentOrganization._id + '.' + currentBranch._id + '.' + currentService._id }}">{{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ► {{ currentService.name }}</mat-option>
              </div>
            </div>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>Equipment:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Equipment</mat-label>
        <mat-select formControlName="fk_equipment" placeholder="Select the equipment">
          <div *ngFor="let currentEquipment of availableEquipments">
            <mat-option value="{{ currentEquipment._id }}">{{ currentEquipment.name }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <hr class="dashed" /><br/>

      <h4>Date range:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Select date range</mat-label>
        <mat-date-range-input [rangePicker]="picker" [min]="minDate" [max]="maxDate" (click)="picker.open()">
          <input matStartDate  formControlName="range_start" readonly placeholder="Start date">
          <input matEndDate formControlName="range_end" readonly placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <br/><hr class="dashed" /><br/>

      <h4>Day(s) of the week:</h4>
      <div class="item-container" formArrayName="day">
        <ng-container *ngFor="let currentDay of daysOfWeek | keyvalue; let key = index">
          <mat-checkbox color="primary" (change)="onCheckDay($event, key)">{{ currentDay.value }}</mat-checkbox>
        </ng-container>
      </div>

      <br/><br/>
    </div> <!-- end fxLayout wrapper -->

    <div class="input-wrapper"> <!-- start fxLayout wrapper -->
      <h4>Urgency:</h4>
      <mat-radio-group aria-label="Urgency" color="primary" formControlName="urgency">
        <mat-radio-button value="true">Yes</mat-radio-button>
        <mat-radio-button value="false">No</mat-radio-button>
      </mat-radio-group>

      <br/><br/><hr class="dashed" /><br/>

      <h4>Shift start <span class="label-info">24h format</span>:</h4>
      <mat-form-field appearance="fill">
        <mat-label>Start</mat-label>
        <input type="time" matInput formControlName="start" min="00:00" max="24:00">
     </mat-form-field>

      <h4>Shift end <span class="label-info">24h format</span>:</h4>
      <mat-form-field appearance="fill">
        <mat-label>End</mat-label>
        <input type="time" matInput formControlName="end" min="00:00" max="24:00">
     </mat-form-field>
    </div> <!-- end fxLayout wrapper -->

  </div>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">CANCEL</button>
      <button mat-flat-button type="submit" color="primary">SAVE</button> <!-- [disabled]="form_data.invalid" -->
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
