<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayoutAlign="start start">
  
      <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
        <!-- Only superuser can set patient organization -->
        <div [class.non-display]="sharedProp.userLogged.permissions[0].role !== 1">
          <h4>Organization:</h4>
          <mat-form-field appearance="fill" class="large">
            <mat-label>Organization</mat-label>
            <mat-select formControlName="fk_organization"  placeholder="Select the organization">
              <div *ngFor="let currentOrganization of availableOrganizations">
                <mat-option value="{{ currentOrganization._id }}">{{ currentOrganization.short_name }} ({{ currentOrganization.name }})</mat-option>
              </div>
            </mat-select>
          </mat-form-field>
        </div>

        <h4>Name:</h4>
        <mat-form-field appearance="fill" class="medium">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" placeholder="Enter the pathology name">
        </mat-form-field>
  
        <h4>Description:</h4>
          <mat-form-field appearance="fill" class="full">
          <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" placeholder="Write the pathology description here."></textarea>
        </mat-form-field>
  
        <hr class="dashed" /><br/>
  
        <h4>Status:</h4>
        <mat-radio-group aria-label="Status" color="primary" formControlName="status">
          <mat-radio-button value="true">Active</mat-radio-button>
          <mat-radio-button value="false">Inactive</mat-radio-button>
        </mat-radio-group>
  
        <br/><br/>
      </div> <!-- end fxLayout wrapper -->
  
      <div class="input-wrapper text-center"> <!-- start fxLayout wrapper -->
        <img class="form_nodes" src="../../../../../assets/img/nodes.png" alt="nodes">
      </div> <!-- end fxLayout wrapper -->
  
    </div>
  
    <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
      <div> <!-- start fxLayout wrapper -->
        <button mat-flat-button type="button" (click)="onCancel();">CANCEL</button>
        <button mat-flat-button type="submit" color="primary">SAVE</button> <!-- [disabled]="form_data.invalid" -->
      </div> <!-- end fxLayout wrapper -->
    </div>
  </form>
  