<h1 mat-dialog-title class="underline-ok"><mat-icon>fast_forward</mat-icon>&nbsp; Resend patient to the MWL</h1>
<div mat-dialog-content>
  <br/>
  The selected patient was already sent previously to the PACS worklist.

  <br/><br/>

  <strong>Sent date and time:</strong> {{ data.accession_date | accno_date }}.

  <br/><br/>

  <h3>Do you want to resend this patient to the PACS MWL?</h3>

</div>
<div mat-dialog-actions>
  <span class="mat-spacer"></span>
  <button mat-button mat-dialog-close [mat-dialog-close]="false">NO</button>
  <button mat-flat-button mat-dialog-close [mat-dialog-close]="true" color="primary" cdkFocusInitial>YES, RESEND</button>
</div>
