<!-- ------------------------------------------------------------------------------------------------------------------------ -->
<!-- SIDENAV -->
<!-- ------------------------------------------------------------------------------------------------------------------------ -->
<h2>Main menu</h2>

<mat-list>
  <!-- 1: Superuser, 2: Administrator, 7: Coordinator, Concessions: [1: Appointment slot management, 2: Appointment management, 3: Appointment calendar) -->
  <div *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || sharedProp.userLogged.permissions[0].role == 7 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [1, 2, 3]))">
    <h3>Coordination</h3>

    <!-- Request management -->
    <!-- 1: Superuser, 2: Administrator, 7: Coordinator, Concessions: [13: Request management) -->
    <div *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || sharedProp.userLogged.permissions[0].role == 7 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [13]))">
      <mat-list-item routerLink="/appointments/list_requests">
        <mat-icon>move_to_inbox</mat-icon><span>Requests</span>
      </mat-list-item>

      <mat-divider></mat-divider>
    </div>

    <!-- Appointment slot management -->
    <!-- 1: Superuser, 2: Administrator, 7: Coordinator, Concessions: [1: Appointment slot management) -->
    <div *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || sharedProp.userLogged.permissions[0].role == 7 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [1]))">
      <mat-list-item routerLink="/slots/list">
        <mat-icon>date_range</mat-icon><span>Slots</span>
      </mat-list-item>

      <mat-divider></mat-divider>
    </div>

    <!-- Appointment management -->
    <!-- 1: Superuser, 2: Administrator, 7: Coordinator, Concessions: [2: Appointment management) -->
    <div *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || sharedProp.userLogged.permissions[0].role == 7 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [2]))">
      <mat-list-item routerLink="/appointments/list">
        <mat-icon>event_available</mat-icon><span>Appointments</span>
      </mat-list-item>

      <mat-divider></mat-divider>
    </div>

    <!-- Appointment calendar -->
    <!-- 1: Superuser, 2: Administrator, 7: Coordinator, Concessions: [3: Appointment calendar) -->
    <div *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || sharedProp.userLogged.permissions[0].role == 7 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [3]))">
      <mat-list-item routerLink="/calendar/slots_appointments">
        <mat-icon>calendar_month</mat-icon><span>Calendar</span>
      </mat-list-item>
    </div>
  </div>

  <!-- 1: Superuser, 2: Administrator, 5: Technician, 6: Nurse, 8: Receptionist, Concessions: [4: Reception management] -->
  <div *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || sharedProp.userLogged.permissions[0].role == 5 || sharedProp.userLogged.permissions[0].role == 6 || sharedProp.userLogged.permissions[0].role == 8 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [4]))" >
    <h3>Reception</h3>

    <mat-list-item routerLink="/check-in/list">
      <mat-icon>today</mat-icon><span>Check-ins</span>
    </mat-list-item>
  </div>

  <!-- 1: Superuser, 2: Administrator, 3: Supervisor, 4: Physician, Concessions: [5: Study management] -->
  <div *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || sharedProp.userLogged.permissions[0].role == 3 || sharedProp.userLogged.permissions[0].role == 4 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [5]))" >
    <h3>Performing</h3>

    <mat-list-item routerLink="/performing/list">
      <mat-icon>assignment_ind</mat-icon><span>Studies</span>
    </mat-list-item>
  </div>

  <!-- 1: Superuser, 2: Administrator, Concessions: [14: Advanced searches, 15: Request statistics, 16: Appointment statistics, 17, Study statistics, 18: Report statistics, 19: Organization statistics] -->
  <div *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [14, 15, 16, 17, 18, 19]))" >
    <h3>Advanced features</h3>

    <!-- 1: Superuser, 2: Administrator, Concessions: [14: Advanced searches] -->
    <div *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [14]))" >
      <mat-list-item routerLink="/advanced-search/list">
        <mat-icon>search</mat-icon><span>Advanced search</span>
      </mat-list-item>
    </div>

    <!-- 1: Superuser, 2: Administrator, Concessions: [15: Request statistics, 16: Appointment statistics, 17, Study statistics, 18: Report statistics, 19: Organization statistics] -->
    <div *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [15, 16, 17, 18, 19]))" >
      <mat-divider></mat-divider>

      <mat-list-item routerLink="/stats/main">
        <mat-icon>query_stats</mat-icon><span>Statistics</span>
      </mat-list-item>
    </div>
    
    <!-- 1: Superuser (In development) -->
    <div *ngIf="sharedProp.userLogged.permissions[0].role == 1">
      <mat-divider></mat-divider>

      <mat-list-item>
        <mat-icon>all_inbox</mat-icon><span>Medical inbox</span>
      </mat-list-item>
    </div>

    <!-- 1: Superuser, 2: Administrator, Concessions: [24: Billing lists] -->
    <div *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [24]))" >
      <mat-divider></mat-divider>

      <mat-list-item routerLink="/billing/list">
        <mat-icon>attach_money</mat-icon><span>Billing</span>
      </mat-list-item>
    </div>
  </div>

  <!-- 1: Superuser, 2: Administrator -->
  <div *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2">
    <h3>Administrator</h3>

    <mat-list-item routerLink="/settings">
      <mat-icon>settings</mat-icon><span>System settings</span>
    </mat-list-item>
  </div>

  <!-- 9: Patient -->
  <div *ngIf="sharedProp.userLogged.permissions[0].role == 9">
    <h3>Patient</h3>

    <mat-list-item routerLink="/start">
      <mat-icon>fact_check</mat-icon><span>Study results</span>
    </mat-list-item>
  </div>

</mat-list>
<!-- ------------------------------------------------------------------------------------------------------------------------ -->
