<!-- Theme select -->
<!-- Medical users don't change themes: Force opaque interface to preserve radiological environments (4: Physician). -->
<span *ngIf="sharedProp.userLogged.permissions[0].role !== 4" >
  <button mat-button><mat-icon [matMenuTriggerFor]="themeMenu" matTooltip="Theme">format_color_fill</mat-icon></button>
  <mat-menu #themeMenu="matMenu">
    <button mat-menu-item (click)="themesService.switchTheme('dark', true)"><mat-icon>dark_mode</mat-icon> Dark</button>
    <button mat-menu-item (click)="themesService.switchTheme('light', true)"><mat-icon>light_mode</mat-icon> Light</button>
  </mat-menu>
</span>

<button mat-button [matMenuTriggerFor]="userMenu" aria-label="User options">
  <mat-icon>person</mat-icon>&nbsp;
  <span class="user_info">
    <small matTooltip="User">{{ sharedProp.userLogged.name | titlecase }} {{ sharedProp.userLogged.surname | titlecase }}</small>
    &nbsp; ► &nbsp;
    <small matTooltip="Role">{{ userRoles[sharedProp.userLogged.permissions[0].role] }}</small>
    &nbsp; ► &nbsp;
    <span [ngSwitch]="sharedProp.userLogged.permissions[0].type">
      <span *ngSwitchCase="'organization'">
        <small matTooltip="Organization">{{ sharedProp.userLogged.permissions[0].description }}</small> &nbsp;
      </span>
      <span *ngSwitchCase="'branch'">
        <small matTooltip="Branch">{{ sharedProp.userLogged.permissions[0].description }}</small> &nbsp;
      </span>
      <span *ngSwitchCase="'service'">
        <small matTooltip="Service">{{ sharedProp.userLogged.permissions[0].description }}</small> &nbsp;
      </span>
    </span>

  </span>
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #userMenu="matMenu" xPosition="before">
  <!-- 1: Superuser, 2: Administrator, Concessions: [10: Access to user logs] -->
  <button mat-menu-item *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [10]))" routerLink="/logs/user">
    <mat-icon>format_list_bulleted</mat-icon><span>User logs</span>
  </button>

  <button mat-menu-item routerLink="/signin">
    <mat-icon>logout</mat-icon><span>Sign out</span>
  </button>
</mat-menu>
