<div class="settings-content">
  <div class="settings-card">
    The following settings affect records throughout the entire data flow and how the <strong>Sirius RIS</strong> application operates.<br/>
    If you are unsure about the action to take, we recommend consulting qualified staff for assistance.
  </div>

  <br/>

  <button *ngIf="sharedProp.userLogged.permissions[0].role == 1" mat-button routerLink="/organizations/list">
    <mat-icon>apartment</mat-icon><br/>
    Organizations
  </button>

  <button *ngIf="sharedProp.userLogged.permissions[0].role == 1" mat-button routerLink="/branches/list">
    <mat-icon>account_tree</mat-icon><br/>
    Branches
  </button>

  <button mat-button routerLink="/services/list">
    <mat-icon>health_and_safety</mat-icon><br/>
    Services
  </button>

  <button *ngIf="sharedProp.userLogged.permissions[0].role == 1" mat-button routerLink="/modalities/list">
    <mat-icon>multiple_stop</mat-icon><br/>
    Modalities
  </button>

  <button *ngIf="sharedProp.userLogged.permissions[0].role == 1" mat-button routerLink="/equipments/list">
    <mat-icon>precision_manufacturing</mat-icon><br/>
    Equipment
  </button>

  <button mat-button routerLink="/procedures/list">
    <mat-icon>format_list_numbered</mat-icon><br/>
    Procedures
  </button>

  <button mat-button routerLink="/procedure_categories/list">
    <mat-icon>category</mat-icon><br/>
    Procedure categories
  </button>

  <button mat-button routerLink="/pathologies/list">
    <mat-icon>coronavirus</mat-icon><br/>
    Pathologies
  </button>

  <button mat-button routerLink="/users/list">
    <mat-icon>people</mat-icon><br/>
    User accounts
  </button>

  <button *ngIf="sharedProp.userLogged.permissions[0].role == 1" mat-button routerLink="/files/list">
    <mat-icon>folder</mat-icon><br/>
    Files
  </button>

  <br/><hr class="dashed" />

  <img class="sirius" src="../../../../assets/img/sirius.png" alt="">

</div>
