<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutAlign="start start">

    <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
      <h4>Branch:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Branch</mat-label>
        <mat-select formControlName="fk_branch" placeholder="Select the branch">
          <div *ngFor="let currentBranch of availableBranches">
            <div *ngFor="let currentOrganization of availableOrganizations">
              <mat-option *ngIf="currentBranch.fk_organization == currentOrganization._id" value="{{ currentBranch._id }}">{{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ({{ currentBranch.name }})</mat-option>
            </div>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>Modalities:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Modalities</mat-label>
        <mat-select formControlName="fk_modalities" placeholder="Select the modalities" multiple>
          <div *ngFor="let currentModality of availableModalities">
            <mat-option value="{{ currentModality._id }}">{{ currentModality.code_value }} - {{ currentModality.code_meaning }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>Name:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Enter the name">
      </mat-form-field>

      <h4>Serial number:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Serial number</mat-label>
        <input matInput type="text" formControlName="serial_number" placeholder="Enter the serial number">
      </mat-form-field>

      <h4>AET:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Application Entity Title</mat-label>
        <input matInput type="text" formControlName="AET" placeholder="Enter the AET">
      </mat-form-field>

      <h4>Status:</h4>
      <mat-radio-group aria-label="Status" color="primary" formControlName="status">
        <mat-radio-button value="true">Active</mat-radio-button>
        <mat-radio-button value="false">Inactive</mat-radio-button>
      </mat-radio-group>

      <br/><br/>
    </div> <!-- end fxLayout wrapper -->

    <div class="input-wrapper text-center"> <!-- start fxLayout wrapper -->
      <img class="form_nodes" src="../../../../../assets/img/nodes.png" alt="nodes">
    </div> <!-- end fxLayout wrapper -->

  </div>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">CANCEL</button>
      <button mat-flat-button type="submit" color="primary">SAVE</button> <!-- [disabled]="form_data.invalid" -->
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
