<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutAlign="start start">

    <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
      <h4>{{ 'equipments.branch_required' | translate }}:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'equipments.branch' | translate }}</mat-label>
        <mat-select formControlName="fk_branch" [placeholder]="'equipments.branch_placeholder' | translate">
          <div *ngFor="let currentBranch of availableBranches">
            <div *ngFor="let currentOrganization of availableOrganizations">
              <mat-option *ngIf="currentBranch.fk_organization == currentOrganization._id" value="{{ currentBranch._id }}">{{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ({{ currentBranch.name }})</mat-option>
            </div>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>{{ 'equipments.modalities_required' | translate }}:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'equipments.modalities' | translate }}</mat-label>
        <mat-select formControlName="fk_modalities" [placeholder]="'equipments.modalities_placeholder' | translate" multiple>
          <div *ngFor="let currentModality of availableModalities">
            <mat-option value="{{ currentModality._id }}">{{ currentModality.code_value }} - {{ currentModality.code_meaning }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>{{ 'equipments.name_required' | translate }}:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'equipments.name' | translate }}</mat-label>
        <input matInput type="text" formControlName="name" [placeholder]="'equipments.name_placeholder' | translate">
      </mat-form-field>

      <h4>{{ 'equipments.serial_number' | translate }}:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'equipments.serial_number' | translate }}</mat-label>
        <input matInput type="text" formControlName="serial_number" [placeholder]="'equipments.serial_number_placeholder' | translate">
      </mat-form-field>

      <h4>{{ 'equipments.aet' | translate }}:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>{{ 'equipments.aet' | translate }}</mat-label>
        <input matInput type="text" formControlName="AET" [placeholder]="'equipments.aet_placeholder' | translate">
      </mat-form-field>

      <h4>{{ 'equipments.status' | translate }}:</h4>
      <mat-radio-group [attr.aria-label]="'equipments.status' | translate" color="primary" formControlName="status">
        <mat-radio-button value="true">{{ 'equipments.active' | translate }}</mat-radio-button>
        <mat-radio-button value="false">{{ 'equipments.inactive' | translate }}</mat-radio-button>
      </mat-radio-group>

      <br/><br/>
    </div> <!-- end fxLayout wrapper -->

    <div class="input-wrapper text-center"> <!-- start fxLayout wrapper -->
      <img class="form_nodes" src="../../../../../assets/img/nodes.png" alt="nodes">
    </div> <!-- end fxLayout wrapper -->

  </div>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">{{ 'equipments.cancel' | translate }}</button>
      <button mat-flat-button type="submit" color="primary">{{ 'equipments.save' | translate }}</button> <!-- [disabled]="form_data.invalid" -->
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
