<h1 mat-dialog-title class="underline-ok"><mat-icon>unsubscribe</mat-icon>&nbsp; Email address already registered</h1>
<div mat-dialog-content>
  <br/>
  The email address you entered is already registered in the database with the following user:
  <br/><br/>

  <strong>DOCUMENT(S):</strong><br/>
  <span *ngFor="let current of data.person.documents" class="dialog-documents">
    <span matTooltip="{{ country_codes[current.doc_country_code].name }}" class="flag-icon flag-icon-{{ country_codes[current.doc_country_code].alpha_2 | lowercase }}"></span>&nbsp;
    <span matTooltip="{{ document_types[current.doc_type] }}">
      <span>{{ current.document }}</span>
    </span>
    <br/>
  </span>

  <br/>
  <strong>FIRST NAME(S):</strong> {{ data.person.name_01 }} <span *ngIf="data.person.name_02">{{ data.person.name_02 }}</span><br/>
  <strong>LAST NAME(S):</strong> {{ data.person.surname_01 }} <span *ngIf="data.person.surname_02">{{ data.person.surname_02 }}</span><br/>

  <br/>

  <h3>Do you want to load the data of the already registered user into the form?</h3>

</div>
<div mat-dialog-actions>
  <span class="mat-spacer"></span>
  <button mat-button mat-dialog-close [mat-dialog-close]="false">NO, USE ANOTHER EMAIL</button>
  <button mat-flat-button mat-dialog-close [mat-dialog-close]="true" color="primary" cdkFocusInitial>YES, EDIT FOUND USER</button>
</div>
