<h1 mat-dialog-title class="underline-ok"><mat-icon>manage_search</mat-icon>&nbsp; Report details</h1>
<div mat-dialog-content *ngIf="sharedProp.mainSettings.appSettings != undefined">

  <mat-tab-group>

    <!-- REPORT TAB: ------------------------------------------------------------------------------------------------------------------ -->
    <mat-tab *ngIf="data.last_report">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">description</mat-icon> Report
      </ng-template>

      <div fxLayout="row" fxLayoutAlign="start start">
        <div class="input-wrapper"> <!-- start fxLayout wrapper -->

          <div fxLayout="row" fxLayoutAlign="start start">
            <div class="input-wrapper"> <!-- start fxLayout wrapper -->
              <h3 class="form-title">
                Creation date:
                <span class="label-accent">{{ data.last_report.createdAt | date:'dd/MM/yyyy HH:mm':sharedProp.mainSettings.appSettings.default_utc }}</span><br/><!-- Fix Mongoose Timestamps -->

                <span *ngIf="data.last_report.authenticated.user !== undefined && data.last_report.authenticated.user.person !== undefined; then thenBlockAuthenticate else elseBlockAuthenticate"></span>
                <ng-template #thenBlockAuthenticate>
                  Authenticated by:
                  <span class="label-alt" matTooltip="Authenticated: {{ data.last_report.authenticated.datetime | date:'dd/MM/yyyy HH:mm':'UTC' }}">
                    {{ data.last_report.authenticated.user.person.name_01 }}
                    <span *ngIf="data.last_report.authenticated.user.person.name_02">{{ ' ' + data.last_report.authenticated.user.person.name_02 }}</span>

                    {{ ' ' + data.last_report.authenticated.user.person.surname_01 }}
                    <span *ngIf="data.last_report.authenticated.user.person.surname_02">{{ ' ' + data.last_report.authenticated.user.person.surname_02 }}</span>
                  </span><br/>
                </ng-template>
                <ng-template #elseBlockAuthenticate>
                  <span class="label-fail">NOT AUTHENTICATED</span><br/>
                </ng-template>

                <span *ngIf="data.last_report.medical_signatures[0].user !== undefined && data.last_report.medical_signatures[0].user.person !== undefined; then thenBlockSignatures else elseBlockSignatures"></span>
                <ng-template #thenBlockSignatures>
                  Signed by:
                  <span *ngFor="let current_signature of data.last_report.medical_signatures">
                    <span class="label-info" matTooltip="Signed: {{ current_signature.createdAt | date:'dd/MM/yyyy HH:mm':sharedProp.mainSettings.appSettings.default_utc }}"><!-- Fix Mongoose Timestamps -->
                      {{ current_signature.user.person.name_01 }}
                      <span *ngIf="current_signature.user.person.name_02">{{ ' ' + current_signature.user.person.name_02 }}</span>

                      {{ ' ' + current_signature.user.person.surname_01 }}
                      <span *ngIf="current_signature.user.person.surname_02">{{ ' ' + current_signature.user.person.surname_02 }}</span>
                    </span>
                  </span>
                </ng-template>
                <ng-template #elseBlockSignatures>
                  <span class="label-fail">NOT SIGNED</span>
                </ng-template>
              </h3>
            </div> <!-- end fxLayout wrapper -->

            <div class="input-wrapper text-right"> <!-- start fxLayout wrapper -->
              <span *ngIf="data.last_report.pathologies.length > 0; then thenBlockPathologies else elseBlockPathologies"></span>
              <ng-template #thenBlockPathologies>
                <small>
                  <mat-chip-list>
                    <mat-chip class="mat-pathology" *ngFor="let currentPathology of data.last_report.pathologies; let i = index">
                      <small>{{ currentPathology.name }}</small>
                    </mat-chip>
                  </mat-chip-list>
                </small>
              </ng-template>
              <ng-template #elseBlockPathologies>
                <span class="label-accent">The report has no assigned pathologies</span>
              </ng-template>
            </div> <!-- end fxLayout wrapper -->
          </div>

          <div class="report-wrap">
            <span *ngIf="data.last_report.clinical_info">
              <h3 class="report-underline"><strong>Clinical information:</strong></h3>
              <span innerHTML="{{ data.last_report.clinical_info }}"></span>
            </span>
            
            <span *ngIf="data.last_report.procedure_description">
              <br/><hr class="soft-alt" /><br/>

              <h3 class="report-underline"><strong>Procedure:</strong></h3>
              <span innerHTML="{{ data.last_report.procedure_description }}"></span>
            </span>

            <span *ngIf="data.last_report.findings[0]">
              <br/><hr class="soft-alt" /><br/>

              <h3 class="report-underline"><strong>{{ data.last_report.findings[0].title }}:</strong></h3>
              <span innerHTML="{{ data.last_report.findings[0].procedure_findings }}"></span>
            </span>

            <span *ngIf="data.last_report.summary">
              <br/><hr class="soft-alt" /><br/>

              <h3 class="report-underline"><strong>Summary:</strong></h3>
              <span innerHTML="{{ data.last_report.summary }}"></span>
            </span>
            
            <br/>
          </div>
        </div> <!-- end fxLayout wrapper -->
      </div>

      <!-- FORMS: --------------------------------------------------------------------------------------------------------------------- -->
      <span *ngIf="data.last_report.authenticated.user !== undefined && data.last_report.authenticated.user.person !== undefined; then thenBlockAuthenticated else elseBlockAuthenticated"></span>
      <ng-template #thenBlockAuthenticated>
        <!--ammend_report-->
        <!-- Superuser, Supervisor, Concessions: [9: Amend reports] -->
        <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 3 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [9]))">
          <div class="settings-card">
            <mat-icon>info</mat-icon><strong class="amend-title"> Remember that when amending a report:</strong>
            <ul>
              <li>A <strong>new report</strong> associated with the current performance will be created.</li>
              <li>The performance will return to the <strong>Draft report</strong> flow state with the content of the last authenticated report to begin editing an amendment.</li>
              <li>All previous signed and authenticated reports will remain in the database as required by legal regulations.</li>
            </ul>

            <hr class="soft-alt"/><br/>

            <div class="text-right">
              <button mat-flat-button type="button" (click)="onSubmit('amend')" color="warn"><mat-icon>rule</mat-icon> AMEND REPORT</button>
            </div>
          </div>
        </span>
      </ng-template>

      <ng-template #elseBlockAuthenticated>
        <!-- Superuser, Supervisor, Concessions: [7: Sign reports, 8: Authenticate reports] -->
        <form *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 3 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [7, 8]))" [formGroup]="form">
          <div class="form-element" fxLayout="row" fxLayoutAlign="end center" style="background: var(--report-rewiew-bg-color);">
            <div class="text-right"> <!-- start fxLayout wrapper -->
              <mat-form-field appearance="fill" class="full">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" placeholder="Enter your password">
              </mat-form-field>
              <br/>

              <!-- Superuser, Supervisor, Concessions: [7: Sign reports] -->
              <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 3 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [7]))">
                <button mat-flat-button type="button" (click)="onSubmit('sign')" class="sign-button"><mat-icon>draw</mat-icon> SIGN</button>
              </span>

              <!-- Superuser, Supervisor, Concessions: [8: Authenticate reports] -->
              <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 3 || (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [8]))">
                <button mat-flat-button type="button" (click)="onSubmit('authenticate')" color="primary"><mat-icon>workspace_premium</mat-icon> AUTHENTICATE</button>
              </span>

              <!-- Superuser, Supervisor, (Concessions: [7: Sign reports] AND [8: Authenticate reports]) -->
              <span *ngIf="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 3 || ((sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [7])) && (sharedProp.userLogged.permissions[0].concession && sharedFunctions.checkConcessions(sharedProp, [8])))">
                <button mat-flat-button type="button" (click)="onSubmit('sign-authenticate')" color="accent"><mat-icon>draw</mat-icon> SIGN AND AUTHENTICATE <mat-icon>workspace_premium</mat-icon></button>
              </span>
            </div> <!-- end fxLayout wrapper -->
          </div>
        </form>
      </ng-template>
      <!-- FORMS: --------------------------------------------------------------------------------------------------------------------- -->
    </mat-tab>
    <!-- REPORT TAB: ------------------------------------------------------------------------------------------------------------------ -->

    <!-- AMEND TAB: ------------------------------------------------------------------------------------------------------------------- -->
    <mat-tab *ngIf="data.amendments_data !== false">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">rule</mat-icon> Amendments
      </ng-template>

      <div fxLayout="row" fxLayoutAlign="start start">
        <div class="input-wrapper"> <!-- start fxLayout wrapper -->

          <span *ngFor="let current_report of data.amendments_data; let i = index">
            <h3 class="form-title text-center underline-fail-alt">Historical report {{ data.amendments_data.length - i  + ' of ' + data.amendments_data.length }}</h3>

            <div fxLayout="row" fxLayoutAlign="start start">
              <div class="input-wrapper"> <!-- start fxLayout wrapper -->
                <h3 class="form-title">
                  Creation date:
                  <span class="label-accent">{{ current_report.createdAt | date:'dd/MM/yyyy HH:mm':sharedProp.mainSettings.appSettings.default_utc }}</span><br/>

                  Authenticated by:
                  <span class="label-alt" matTooltip="Authenticated: {{ current_report.authenticated.datetime | date:'dd/MM/yyyy HH:mm':'UTC' }}">
                    {{ current_report.authenticated.user.person.name_01 }}
                    <span *ngIf="current_report.authenticated.user.person.name_02">{{ ' ' + current_report.authenticated.user.person.name_02 }}</span>

                    {{ ' ' + current_report.authenticated.user.person.surname_01 }}
                    <span *ngIf="current_report.authenticated.user.person.surname_02">{{ ' ' + current_report.authenticated.user.person.surname_02 }}</span>
                  </span><br/>

                  Signed by:
                  <span *ngFor="let current_signature of current_report.medical_signatures">
                    <span class="label-info" matTooltip="Signed: {{ current_signature.createdAt | date:'dd/MM/yyyy HH:mm':sharedProp.mainSettings.appSettings.default_utc }}">
                      {{ current_signature.user.person.name_01 }}
                      <span *ngIf="current_signature.user.person.name_02">{{ ' ' + current_signature.user.person.name_02 }}</span>

                      {{ ' ' + current_signature.user.person.surname_01 }}
                      <span *ngIf="current_signature.user.person.surname_02">{{ ' ' + current_signature.user.person.surname_02 }}</span>
                    </span>
                  </span>
                </h3>
              </div> <!-- end fxLayout wrapper -->

              <div class="input-wrapper"> <!-- start fxLayout wrapper -->
                <span *ngIf="current_report.pathologies.length > 0; then thenBlockCurrentPathologies else elseBlockCurrentPathologies"></span>
                <ng-template #thenBlockCurrentPathologies>
                  <small>
                    <mat-chip-list>
                      <mat-chip class="mat-pathology" *ngFor="let currentPathology of current_report.pathologies; let i = index">
                        <small>{{ currentPathology.name }}</small>
                      </mat-chip>
                    </mat-chip-list>
                  </small>
                </ng-template>
                <ng-template #elseBlockCurrentPathologies>
                  <span class="label-accent">The report has no assigned pathologies</span>
                </ng-template>
              </div> <!-- end fxLayout wrapper -->
            </div>

            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Click here to show or hide the contents of report No. {{ data.amendments_data.length - i }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                
                <br/>

                <div class="report-wrap">
                  <span *ngIf="current_report.clinical_info">
                    <h3 class="report-underline"><strong>Clinical information:</strong></h3>
                    <span innerHTML="{{ current_report.clinical_info }}"></span>
                  </span>

                  <span *ngIf="current_report.procedure_description">
                    <br/><hr class="soft-alt" /><br/>

                    <h3 class="report-underline"><strong>Procedure:</strong></h3>
                    <span innerHTML="{{ current_report.procedure_description }}"></span>
                  </span>
      
                  <span *ngIf="current_report.findings[0]">
                    <br/><hr class="soft-alt" /><br/>
      
                    <h3 class="report-underline"><strong>{{ current_report.findings[0].title }}:</strong></h3>
                    <span innerHTML="{{ current_report.findings[0].procedure_findings }}"></span>
                  </span>
                  
                  <span *ngIf="current_report.summary">
                    <br/><hr class="soft-alt" /><br/>

                    <h3 class="report-underline"><strong>Summary:</strong></h3>
                    <span innerHTML="{{ current_report.summary }}"></span>
                  </span>

                  <br/>
                </div>

              </mat-expansion-panel>
            </mat-accordion>

            <br/>
          </span>

        </div> <!-- end fxLayout wrapper -->
      </div>
    </mat-tab>
    <!-- AMEND TAB: ------------------------------------------------------------------------------------------------------------------- -->

  </mat-tab-group>

  <hr class="dashed" />
</div>
<div mat-dialog-actions>
  <span class="mat-spacer"></span>
  <button mat-flat-button mat-dialog-close [mat-dialog-close]="true" color="basic" cdkFocusInitial><mat-icon>close</mat-icon> CLOSE</button>
</div>
