<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="sharedProp.mainSettings != undefined">
  <div fxLayout="row" fxLayoutAlign="start start">

    <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
      <h4>Name:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Enter the name">
      </mat-form-field>

      <h4>Branch:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Branch</mat-label>
        <mat-select formControlName="domain" (selectionChange)="onChangeBranch($event)" placeholder="Select the branch">
          <div *ngFor="let currentBranch of availableBranches">
            <div *ngFor="let currentOrganization of availableOrganizations">
              <mat-option *ngIf="currentBranch.fk_organization == currentOrganization._id" value="{{ currentOrganization._id + '.' + currentBranch._id }}">{{ currentOrganization.short_name }} ► {{ currentBranch.short_name }}</mat-option>
            </div>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>Equipment:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Equipment</mat-label>
        <mat-select formControlName="equipments" (closed)="onChangeEquipment()" placeholder="Select the equipment" multiple>
          <div *ngFor="let currentEquipment of availableEquipments">
            <mat-option #matOption (click)="addModalities(matOption.selected, currentEquipment._id, currentEquipment.fk_modalities)" value="{{ currentEquipment._id }}">{{ currentEquipment.name }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>Procedure duration: <span class="label-info">In minutes</span>:</h4>
      <span *ngIf="getKeys(selectedEquipments).length > 0; then thenBlockDurationEquipment else elseBlockDurationEquipment"></span>
      <ng-template #thenBlockDurationEquipment>
        <span *ngIf="getKeys(selectedDurations).length > 0;">
          <span *ngFor="let currentDuration of getKeys(selectedDurations);">
            <mat-form-field appearance="fill">
              <mat-label>{{ selectedDurations[currentDuration].name }}</mat-label>
              <input matInput icNumbers type="text" [(ngModel)]="selectedDurations[currentDuration].duration" [ngModelOptions]="{standalone: true}" required placeholder="Duration in minutes">
            </mat-form-field>
          </span>
        </span>
      </ng-template>
      <ng-template #elseBlockDurationEquipment>
        <span class="label-accent">No equipment selected yet</span><br/><br/>
      </ng-template>

      <h4>Modality:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Modality</mat-label>
        <mat-select formControlName="fk_modality" placeholder="Select the modality" (selectionChange)="onChangeModality($event)">
          <div *ngFor="let currentModality of availableModalities">
            <mat-option value="{{ currentModality._id }}">{{ currentModality.code_value }} ({{ currentModality.code_meaning }})</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <div [class.non-display]="enableCoefPETInput === false">
        <h4>Coefficient <span class="label-info">MBq/kg</span>:</h4>
        <mat-form-field appearance="fill">
          <mat-label>Coefficient</mat-label>
          <input icNumbersWD type="text" matInput formControlName="coefficient">
        </mat-form-field>
      </div>

      <br/><br/><hr class="dashed"/><br/>

      <h4>Status:</h4>
      <mat-radio-group aria-label="Status" color="primary" formControlName="status">
        <mat-radio-button value="true">Active</mat-radio-button>
        <mat-radio-button value="false">Inactive</mat-radio-button>
      </mat-radio-group>

      <br/><br/><hr class="dashed"/><br/>

      <h4>Does the procedure require informed consent?</h4>
      <mat-radio-group aria-label="Informed consent" color="primary" formControlName="informed_consent">
        <mat-radio-button value="true">Yes</mat-radio-button>
        <mat-radio-button value="false">No</mat-radio-button>
      </mat-radio-group>

      <br/><br/><hr class="dashed"/><br/>

      <h4>Does the procedure require an interview?</h4>
      <mat-radio-group aria-label="Requires interview" color="primary" formControlName="has_interview">
        <mat-radio-button value="true">Yes</mat-radio-button>
        <mat-radio-button value="false">No</mat-radio-button>
      </mat-radio-group>

      <br/><br/><hr class="dashed"/><br/>

      <div fxLayout="row" fxLayoutAlign="start start">
        <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
          <h4>SNOMED:</h4>
          <mat-form-field appearance="fill" class="full">
            <mat-label>SNOMED code</mat-label>
            <input matInput type="text" formControlName="snomed" placeholder="Enter the SNOMED code">
          </mat-form-field>
        </div> <!-- end fxLayout wrapper -->

        <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
          <h4>Alternate coding:</h4>
          <mat-form-field appearance="fill" class="full">
            <mat-label>Coding</mat-label>
            <input matInput type="text" formControlName="code" placeholder="Enter the coding">
          </mat-form-field>
        </div> <!-- end fxLayout wrapper -->
      </div>

      <br/><hr class="dashed"/><br/>

      <div fxLayout="row" fxLayoutAlign="start start">
        <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
          <h4>Does the procedure require a report?</h4>
          <mat-radio-group aria-label="Requires report" color="primary" formControlName="reporting_delay_controller" (change)="onChangeEnableController($event, 'reporting_delay', '0')">
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>

        </div> <!-- end fxLayout wrapper -->

        <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
          <span *ngIf="enableField" [class.non-display]="enableField.reporting_delay === false">
            <h4>Maximum wait time <span class="label-info">Days</span>:</h4>
            <mat-form-field appearance="fill">
              <mat-label>Wait days</mat-label>
              <input icNumbers type="text" matInput formControlName="reporting_delay">
            </mat-form-field>
          </span>
        </div> <!-- end fxLayout wrapper -->
      </div>

      <br/><hr class="dashed"/><br/>

      <div fxLayout="row" fxLayoutAlign="start start">
        <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
          <h4>Does the procedure require rest/wait time?</h4>
          <mat-radio-group aria-label="Requires rest/wait time" color="primary" formControlName="wait_time_controller" (change)="onChangeEnableController($event, 'wait_time', '15')">
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>

        </div> <!-- end fxLayout wrapper -->

        <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
          <span *ngIf="enableField" [class.non-display]="enableField.wait_time === false">
            <h4>Rest/wait time <span class="label-info">Minutes</span>:</h4>
            <mat-form-field appearance="fill">
              <mat-label>Rest/wait minutes</mat-label>
              <input icNumbers type="text" matInput formControlName="wait_time">
            </mat-form-field>
          </span>
        </div> <!-- end fxLayout wrapper -->
      </div>

      <br/>
    </div> <!-- end fxLayout wrapper -->

    <div class="input-wrapper"> <!-- start fxLayout wrapper -->
      <h4>Preparation <span class="label-info">min: 10, max: 3000</span>:</h4>
      <ckeditor formControlName="preparation" #preparation [editor]="preparationEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>

      <br/><hr class="dashed"/><br/>

      <h4>Procedure template <span class="label-info">min: 10, max: 3000</span>:</h4>
      <ckeditor formControlName="procedure_template" #procedure_template [editor]="procedureTemplateEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>

      <br/><hr class="dashed"/><br/>

      <h4>Report template <span class="label-info">min: 10, max: 3000</span>:</h4>
      <ckeditor formControlName="report_template" #report_template [editor]="reportTemplateEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>

    </div> <!-- end fxLayout wrapper -->

  </div>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">CANCEL</button>
      <button mat-flat-button type="submit" color="primary">SAVE</button> <!-- [disabled]="form_data.invalid" -->
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
