<h1 mat-dialog-title class="underline-fail"><mat-icon>delete_forever</mat-icon>&nbsp; Delete selected items</h1>
<div mat-dialog-content>
  <h3>Do you confirm that you want to delete the selected items?</h3>
  Keep in mind that deletion removes the records from the database permanently and they cannot be recovered.

  <br/><br/><hr class="dashed" /><br/>

  <div class="form-element text-center delete-dialog">
    <h4>Enter the deletion code:</h4>
    <mat-form-field appearance="fill" class="medium">
      <mat-label>Deletion code</mat-label>
      <input matInput type="password" [(ngModel)]="sharedFunctions.delete_code" class="text-center" placeholder="Enter the deletion code">
    </mat-form-field>
  </div>

  <hr class="dashed" />
</div>
<div mat-dialog-actions>
  <span class="mat-spacer"></span>
  <button mat-button mat-dialog-close [mat-dialog-close]="false">CANCEL</button>
  <button mat-flat-button mat-dialog-close [mat-dialog-close]="true" color="primary" cdkFocusInitial>YES, DELETE</button>
</div>
