<span *ngIf="this.sharedProp.current_patient && this.sharedProp.current_imaging && this.sharedProp.current_modality && this.sharedProp.current_procedure && this.sharedProp.current_slot && this.sharedProp.current_equipment && this.sharedProp.current_datetime; then thenBlockCurrentObj else elseBlockCurrentObj"></span>

<ng-template #thenBlockCurrentObj>
  <form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="sharedProp.mainSettings != undefined && sharedProp.mainSettings.appSettings != undefined">
    <h2 class="form-title text-center underline-fail-alt">Summary:</h2>
    <div fxLayout="row" fxLayoutAlign="start start">

      <div class="input-wrapper divider-alt"> <!-- start fxLayout wrapper -->
        <h3 class="details-title">Appointment details to coordinate:</h3>
        <div class="current-wrap">
          <!-- appointment_date -->
          <div class="current-info divider-alt">
            <small>Appointment date:</small><br/>
            <span class="appointment-firts">{{ this.sharedProp.current_datetime.dateDay + '/' + this.sharedProp.current_datetime.dateMonth + '/' + this.sharedProp.current_datetime.dateYear }}</span>
          </div>

          <!-- appointment_start -->
          <div class="current-info divider-alt">
            <small>Start time:</small><br/>
            <span class="appointment-firts">{{ this.sharedProp.current_datetime.startHours + ':' + this.sharedProp.current_datetime.startMinutes }}</span>
          </div>

          <!-- appointment_end -->
          <div class="current-info divider-alt">
            <small>End time:</small><br/>
            <span class="appointment-firts">{{ this.sharedProp.current_datetime.endHours + ':' + this.sharedProp.current_datetime.endMinutes }}</span>
          </div>

          <!-- equipment -->
          <div class="current-info text-center divider-alt">
            <small>Equipment:</small><br/>
            <span class="badge-accent" matTooltip="{{ 'AET: ' + this.sharedProp.current_equipment.details.AET }}">
              <span>{{ this.sharedProp.current_equipment.details.name }}</span>
            </span>
          </div>

          <!-- urgency -->
          <div class="current-info text-center">
            <small>Urgency:</small><br/>
            <div *ngIf="this.sharedProp.current_urgency; then thenBlockUrgency else elseBlockUrgency"></div>
            <ng-template #thenBlockUrgency><mat-icon class="color-fail" matTooltip="Urgent">directions_run</mat-icon></ng-template>
            <ng-template #elseBlockUrgency><mat-icon color="accent" matTooltip="Routine">man</mat-icon></ng-template>
          </div>

          <div class="clear"></div>
        </div>

        <hr class="dashed" /><br/>

        <h3 class="details-title">Preparation:</h3>
        <div class="current-wrap preparation-wrap">
          <!-- preparation -->
          <div class="current-info">
            <div *ngIf="this.sharedProp.current_procedure.preparation !== undefined && this.sharedProp.current_procedure.preparation.length > 0; then thenBlockPreparation else elseBlockPreparation"></div>

            <ng-template #thenBlockPreparation>
              <span innerHTML="{{ this.sharedProp.current_procedure.preparation }}"></span>
            </ng-template>

            <ng-template #elseBlockPreparation>
              <span>The selected procedure has no preparation requirements.</span>
            </ng-template>
          </div>

          <div class="clear"></div>
        </div>

        <hr class="dashed" /><br/>

        <!-- friendly password -->
        <h3 class="details-title">Access key:</h3>
        <div class="friendly-pass-wrap" *ngIf="this.sharedProp.current_friendly_pass !== ''">
          <div class="current-info">Assigned random password: </div>
          <div class="current-info">
            <span class="friendly-pass">{{ this.sharedProp.current_friendly_pass }}</span>
          </div>
          <div class="clear"></div><hr class="dashed" />
          <small><strong>Note: </strong>Once the appointment entry is completed, the assigned password will no longer be accessible.</small>
        </div>
      </div> <!-- end fxLayout wrapper -->

      <div class="input-wrapper"> <!-- start fxLayout wrapper -->
        <span *ngIf="this.sharedProp.current_patient">
          <span *ngIf="this.sharedProp.current_patient.person">
            <h3 class="details-title">Patient information:</h3>
            <div class="current-wrap">
              <!-- documents -->
              <div class="current-info">
                <small>Document(s):</small><br/>
                <span *ngFor="let current of this.sharedProp.current_patient.person.documents" >
                  <span matTooltip="{{ country_codes[current.doc_country_code].name }}" class="flag-icon flag-icon-{{ country_codes[current.doc_country_code].alpha_2 | lowercase }}"></span>&nbsp;
                  <span matTooltip="{{ document_types[current.doc_type] }}">
                    <span>{{ current.document }}</span>
                  </span>
                  <br/>
                </span>
              </div>

              <!-- names -->
              <div class="current-info">
                <small>Full name:</small><br/>
                <span class="current-firts">
                  <span>{{ this.sharedProp.current_patient.person.name_01 }}</span>

                  <span *ngIf="this.sharedProp.current_patient.person.name_02">
                    <span> {{ this.sharedProp.current_patient.person.name_02 }}</span>
                  </span>

                  <span> {{ this.sharedProp.current_patient.person.surname_01 }}</span>

                  <span *ngIf="this.sharedProp.current_patient.person.surname_02">
                    <span> {{ this.sharedProp.current_patient.person.surname_02 }}</span>
                  </span>
                </span>
              </div>

              <div class="clear"></div>
            </div>

            <div class="clear"></div>

            <div class="current-wrap">
              <!-- birth_date -->
              <div class="current-info">
                <small>Date of birth:</small><br/>
                <span class="current-firts">{{ this.sharedProp.current_patient.person.birth_date | date:"dd/MM/yyyy":"UTC" }}</span>
              </div>

              <!-- genre -->
              <div class="current-info text-center">
                <small>Gender:</small><br/>
                <span [ngSwitch]="this.sharedProp.current_patient.person.gender" matTooltip="{{ gender_types[this.sharedProp.current_patient.person.gender] }}">
                  <span *ngSwitchCase="1"><mat-icon class="male">man</mat-icon></span>
                  <span *ngSwitchCase="2"><mat-icon class="female">woman</mat-icon></span>
                  <span *ngSwitchCase="3"><mat-icon class="other">wc</mat-icon></span>
                </span>
              </div>

              <!-- status -->
              <div class="current-info text-center">
                <small>Status:</small><br/>
                <span *ngIf="this.sharedProp.current_patient.status; then thenBlock else elseBlock"></span>
                <ng-template #thenBlock><mat-icon class="color-ok" matTooltip="Active">done</mat-icon></ng-template>
                <ng-template #elseBlock><mat-icon class="color-fail" matTooltip="Inactive">clear</mat-icon></ng-template>
              </div>

              <div class="clear"></div>
            </div>

          </span>
        </span>

        <hr class="dashed"/><br/>

        <span *ngIf="this.sharedProp.current_imaging">
          <span *ngIf="this.sharedProp.current_imaging.organization && this.sharedProp.current_imaging.branch && this.sharedProp.current_imaging.service && this.sharedProp.current_modality">
            <h3 class="details-title">Study details:</h3>

            <div class="current-wrap">
              <!-- imaging -->
              <div class="current-info">
                <small>Organization ► Branch ► Service:</small><br/>
                <span class="current-firts">{{ this.sharedProp.current_imaging.organization.short_name + ' ► ' + this.sharedProp.current_imaging.branch.short_name + ' ► ' + this.sharedProp.current_imaging.service.name }}</span>
              </div>

              <div class="clear"></div>
            </div>

            <div class="clear"></div>

            <div class="current-wrap">
              <!-- procedure -->
              <div class="current-info text-center">
                <small>Procedure to perform:</small><br/>
                <span class="badge-alt">
                  <span>{{ this.sharedProp.current_procedure.name }}</span>
                </span>
              </div>

              <!-- modality -->
              <div class="current-info text-center">
                <small>Modality:</small><br/>
                <span class="badge" matTooltip="{{ this.sharedProp.current_modality.code_meaning }}">
                  <span>{{ this.sharedProp.current_modality.code_value }}</span>
                </span>
              </div>

              <!-- informed_consent -->
              <div class="current-info text-center">
                <small>Requires informed consent:</small><br/>
                <span *ngIf="this.sharedProp.current_procedure.informed_consent; then thenBlock else elseBlock"></span>
                <ng-template #thenBlock><mat-icon class="color-ok" matTooltip="YES">done</mat-icon></ng-template>
                <ng-template #elseBlock><mat-icon class="color-fail" matTooltip="NO">clear</mat-icon></ng-template>
              </div>

              <div class="clear"></div>
            </div>

          </span>
        </span>
      </div> <!-- end fxLayout wrapper -->
    </div>

    <hr class="dashed"/>

    <h2 class="form-title text-center underline-ok-alt">Appointment details</h2>
    <div fxLayout="row" fxLayoutAlign="start start">

      <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
        <h3 class="form-title text-center underline-fail-alt">Referrer:</h3>
        <br/>

        <h4>Requesting organization:</h4>
        <mat-form-field appearance="fill" class="large">
          <mat-label>Requesting organization</mat-label>
          <mat-select formControlName="referring_organization" placeholder="Select the requesting organization">
            <span *ngIf="appointmentsService.referringOrganizations">
              <div *ngFor="let currentOrganization of appointmentsService.referringOrganizations">
                <mat-option value="{{ currentOrganization._id }}">{{ currentOrganization.short_name }} ({{ currentOrganization.name }})</mat-option>
              </div>
            </span>
          </mat-select>
        </mat-form-field>

        <br/><hr class="dashed" />

        <!-- No report cases: Hide reporting_domain, report_before and reporting_user fields -->
        <span [class.non-display]="this.sharedProp.current_procedure.reporting_delay === undefined || this.sharedProp.current_procedure.reporting_delay === null || this.sharedProp.current_procedure.reporting_delay === ''">
          <h3 class="form-title text-center underline-fail-alt">Reporting:</h3>
          <br/>

          <h4>Reporting service:</h4>
          <mat-form-field appearance="fill" class="large">
            <mat-label>Reporting service</mat-label>
            <mat-select formControlName="reporting_domain" placeholder="Select the reporting service">
              <div *ngFor="let currentService of appointmentsService.availableServices">
                <div *ngFor="let currentBranch of appointmentsService.availableBranches">
                  <div *ngFor="let currentOrganization of appointmentsService.availableOrganizations">
                    <mat-option (click)="appointmentsService.findReportingUsers(currentService._id, form)" *ngIf="currentBranch.fk_organization == currentOrganization._id && currentService.fk_branch == currentBranch._id" value="{{ currentOrganization._id + '.' + currentBranch._id + '.' + currentService._id }}">{{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ► {{ currentService.name }}</mat-option>
                  </div>
                </div>
              </div>
            </mat-select>
          </mat-form-field>

          <h4>Reporting physician:</h4>
          <mat-form-field appearance="fill" class="large">
            <mat-label>Reporting physician</mat-label>
            <mat-select formControlName="reporting_user" placeholder="Select the reporting physician">
              <div *ngFor="let currentReporting of appointmentsService.reportingUsers">
                <mat-option value="{{ currentReporting._id }}">
                  <!--names-->
                  {{ currentReporting.person.name_01 }}
                  <span *ngIf="currentReporting.person.name_02">
                    {{ ' ' + currentReporting.person.name_02 }}
                  </span>
                  <!--surnames-->
                  {{ ' ' + currentReporting.person.surname_01 }}
                  <span *ngIf="currentReporting.person.surname_02">
                    {{ ' ' + currentReporting.person.surname_02 }}
                  </span>
                </mat-option>
              </div>
            </mat-select>
          </mat-form-field>

          <h4>Report required before:</h4>
          <mat-form-field appearance="fill" class="large" (click)="picker.open()">
            <mat-label>Select a date</mat-label>
            <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" formControlName="report_before" (keydown)="false">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint align="end">Click to choose a date ^</mat-hint>
          </mat-form-field>

          <br/><hr class="dashed" /><br/>
        </span>

        <h4>Medical history <span class="label-info">min: 10, max: 1000</span>:</h4>
        <div [class.unselected]="anamnesisValidator == false">
          <ckeditor formControlName="anamnesis"  #anamnesis [editor]="customEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>
        </div>

        <br/><hr class="dashed" /><br/>

        <h4>Instructions <span class="label-info">min: 10, max: 1000</span>:</h4>
        <div [class.unselected]="indicationsValidator == false">
          <ckeditor formControlName="indications" #indications [editor]="customEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>
        </div>

        <br/><hr class="dashed" /><br/>

        <h3 class="form-title text-center underline-fail-alt">Patient's current address:</h3>
        <br/>

        <!-- Current address start-->
        <div formGroupName="current_address">
          <div fxLayout="row" fxLayoutAlign="start start">
            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <h4>Country:</h4>
              <span *ngIf="getKeys(appointmentsService.allCountries).length > 0; then thenBlockCountries else elseBlockCountries"></span>

              <ng-template #thenBlockCountries>
                <mat-form-field appearance="fill" class="full">
                  <mat-label>Country</mat-label>
                  <mat-select formControlName="country" placeholder="Select the country">
                    <div *ngFor="let currentCountry of appointmentsService.allCountries">
                  <mat-option (click)="appointmentsService.setCurrentStates(currentCountry.isoCode, form)" value="{{ currentCountry.name }}">{{ currentCountry.flag }} &nbsp; {{ currentCountry.name }}</mat-option>
                    </div>
                  </mat-select>
                </mat-form-field>
              </ng-template>

              <ng-template #elseBlockCountries>
                <mat-form-field appearance="fill" class="full">
                  <mat-label>Country</mat-label>
                  <input matInput type="text" formControlName="country" placeholder="Enter the country">
                </mat-form-field>
              </ng-template>
            </div> <!-- end fxLayout wrapper -->


            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <h4>State:</h4>
              <span *ngIf="getKeys(appointmentsService.currentStates).length > 0; then thenBlockStates else elseBlockStates"></span>

              <ng-template #thenBlockStates>
                <mat-form-field appearance="fill" class="full">
                  <mat-label>State | Province | Department</mat-label>
                  <mat-select formControlName="state" placeholder="Select the State | Province | Department">
                    <div *ngFor="let currentState of appointmentsService.currentStates">
                      <mat-option (click)="appointmentsService.setCurrentCities(currentState.countryCode, currentState.isoCode, form)" value="{{ currentState.name.replace(' Department', '') }}">{{ currentState.name.replace(' Department', '') }}</mat-option>
                    </div>
                  </mat-select>
                </mat-form-field>
              </ng-template>

              <ng-template #elseBlockStates>
                <mat-form-field appearance="fill" class="full">
                  <mat-label>State | Province | Department</mat-label>
                  <input matInput type="text" formControlName="state" placeholder="Enter the State | Province | Department">
                </mat-form-field>
              </ng-template>
            </div> <!-- end fxLayout wrapper -->
          </div>


          <div fxLayout="row" fxLayoutAlign="start start">
            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <h4>City:</h4>
              <span *ngIf="getKeys(appointmentsService.currentCities).length > 0; then thenBlockCities else elseBlockCities"></span>

              <ng-template #thenBlockCities>
                <mat-form-field appearance="fill" class="full">
                  <mat-label>City</mat-label>
                  <mat-select formControlName="city" placeholder="Select the city">
                    <div *ngFor="let currentCity of appointmentsService.currentCities">
                      <mat-option value="{{ currentCity.name }}">{{ currentCity.name }}</mat-option>
                    </div>
                  </mat-select>
                </mat-form-field>
              </ng-template>

              <ng-template #elseBlockCities>
                <mat-form-field appearance="fill" class="full">
                  <mat-label>City</mat-label>
                  <input matInput type="text" formControlName="city" placeholder="Enter the city">
                </mat-form-field>
              </ng-template>
            </div> <!-- end fxLayout wrapper -->

            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <h4>Neighborhood | Area:</h4>
              <mat-form-field appearance="fill" class="full">
                <mat-label>Neighborhood | Area</mat-label>
                <input matInput type="text" formControlName="neighborhood" placeholder="Enter the neighborhood or area for the address">
              </mat-form-field>
            </div> <!-- end fxLayout wrapper -->
          </div>

          <h4>Home address:</h4>
          <mat-form-field appearance="fill" class="full">
            <mat-label>Address</mat-label>
            <input matInput type="text" formControlName="address" placeholder="Enter the full home address">
          </mat-form-field>
        </div>
        <!-- Current address end -->

        <br/><hr class="dashed" /><br/>

        <h4>Contact:</h4>
        <mat-form-field appearance="fill" class="large">
          <mat-label>Contact</mat-label>
          <input matInput type="text" formControlName="contact" placeholder="Enter contact details (phone, mobile, email)">
        </mat-form-field>

        <!-- Contrast (Check if is PET-CT procedure) [Hardset onSubmit] -->
        <div *ngIf="this.sharedProp.current_modality.code_value !== 'PT'">
          <br/><hr class="dashed" />

          <h3 class="form-title text-center underline-fail-alt">Contrast media:</h3>
          <!-- Contrast start-->
          <div formGroupName="contrast">
            <div fxLayout="row" fxLayoutAlign="start start">
              <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
                <h4>Requires contrast:</h4>
                <mat-radio-group aria-label="Contrast" color="primary" formControlName="use_contrast" (change)="appointmentsService.onChangeContrast($event, form)">
                  <mat-radio-button value="true">Yes</mat-radio-button>
                  <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
              </div> <!-- end fxLayout wrapper -->

              <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
                <div [class.non-display]="appointmentsService.booleanContrast == false">
                  <h4>Contrast type:</h4>
                  <mat-form-field appearance="fill" class="full">
                    <mat-label>Contrast type</mat-label>
                    <input matInput type="text" formControlName="description" placeholder="Enter the requested contrast type.">
                  </mat-form-field>
                </div>
              </div> <!-- end fxLayout wrapper -->
            </div>
          </div>
          <!-- Contrast end-->
        </div>

        <hr class="dashed" /><br/>

        <h4>Status:</h4>
        <mat-radio-group aria-label="Status" color="primary" formControlName="status">
          <mat-radio-button value="true">Active</mat-radio-button>
          <mat-radio-button value="false">Inactive</mat-radio-button>
        </mat-radio-group>

        <br/><br/>
      </div> <!-- end fxLayout wrapper -->

      <div class="input-wrapper"> <!-- start fxLayout wrapper -->
        <h3 class="form-title text-center underline-fail-alt">Patient information <span class="label-alt">Sensitive information</span>:</h3>
        <br/>

        <!-- Private health start --->
        <div formGroupName="private_health">
          <div fxLayout="row" fxLayoutAlign="start start">
            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <h4>Height <span class="label-info">Centimeters</span>:</h4>
              <mat-form-field appearance="fill" class="large">
                <mat-label>Height</mat-label>
                <input type="text" icNumbers matInput formControlName="height" min="1" max="300">
              </mat-form-field>
            </div> <!-- end fxLayout wrapper -->

            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <h4>Weight <span class="label-info">Kilograms</span>:</h4>
              <mat-form-field appearance="fill" class="large">
                <mat-label>Weight</mat-label>
                <input type="text" icNumbersWD matInput formControlName="weight" min="1" max="300">
              </mat-form-field>
            </div> <!-- end fxLayout wrapper -->
          </div>

          <hr class="dashed" />

          <div fxLayout="row" fxLayoutAlign="start start">
            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <mat-checkbox formControlName="diabetes" color="primary">{{ privateHealthLang.ES['diabetes'] }}</mat-checkbox><br/>
              <mat-checkbox formControlName="hypertension" color="primary">{{ privateHealthLang.ES['hypertension'] }}</mat-checkbox><br/>
              <mat-checkbox formControlName="epoc" color="primary">{{ privateHealthLang.ES['epoc'] }}</mat-checkbox><br/>
              <mat-checkbox formControlName="smoking" color="primary">{{ privateHealthLang.ES['smoking'] }}</mat-checkbox><br/>
              <mat-checkbox formControlName="malnutrition" color="primary">{{ privateHealthLang.ES['malnutrition'] }}</mat-checkbox><br/>
              <mat-checkbox formControlName="obesity" color="primary">{{ privateHealthLang.ES['obesity'] }}</mat-checkbox><br/>
              <mat-checkbox formControlName="asthma" color="primary">{{ privateHealthLang.ES['asthma'] }}</mat-checkbox><br/>
            </div> <!-- end fxLayout wrapper -->

            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <mat-checkbox formControlName="pregnancy" color="primary">{{ privateHealthLang.ES['pregnancy'] }}</mat-checkbox><br/>
              <mat-checkbox formControlName="claustrophobia" color="primary">{{ privateHealthLang.ES['claustrophobia'] }}</mat-checkbox><br/>
              <mat-checkbox formControlName="renal_insufficiency" color="primary">{{ privateHealthLang.ES['renal_insufficiency'] }}</mat-checkbox><br/>
              <mat-checkbox formControlName="heart_failure" color="primary">{{ privateHealthLang.ES['heart_failure'] }}</mat-checkbox><br/>
              <mat-checkbox formControlName="ischemic_heart_disease" color="primary">{{ privateHealthLang.ES['ischemic_heart_disease'] }}</mat-checkbox><br/>
              <mat-checkbox formControlName="valvulopathy" color="primary">{{ privateHealthLang.ES['valvulopathy'] }}</mat-checkbox><br/>
              <mat-checkbox formControlName="arrhythmia" color="primary">{{ privateHealthLang.ES['arrhythmia'] }}</mat-checkbox><br/>
            </div> <!-- end fxLayout wrapper -->

            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <mat-checkbox formControlName="hiv" color="primary">{{ privateHealthLang.ES['hiv'] }}</mat-checkbox><br/>
              <mat-checkbox formControlName="cancer" color="primary">{{ privateHealthLang.ES['cancer'] }}</mat-checkbox><br/>
              <mat-checkbox formControlName="dementia" color="primary">{{ privateHealthLang.ES['dementia'] }}</mat-checkbox><br/>
              <mat-checkbox formControlName="hyperthyroidism" color="primary">{{ privateHealthLang.ES['hyperthyroidism'] }}</mat-checkbox><br/>
              <mat-checkbox formControlName="hypothyroidism" color="primary">{{ privateHealthLang.ES['hypothyroidism'] }}</mat-checkbox><br/>
            </div> <!-- end fxLayout wrapper -->
          </div>

          <mat-checkbox color="primary" (change)="appointmentsService.onCheckOtherPatology($event, form)">Other history/pathology</mat-checkbox><br/>

          <div [class.non-display]="appointmentsService.booleanPatology == false">
            <mat-form-field appearance="fill" class="full">
              <mat-label>{{ privateHealthLang.ES['other'] }}</mat-label>
              <input matInput type="text" formControlName="other" placeholder="Enter the relevant history or pathologies.">
            </mat-form-field>
          </div>

          <br/><hr class="dashed" /><br/>

          <h4>{{ privateHealthLang.ES['medication'] }} <span class="label-info">min: 2, max: 1000</span>:</h4>
          <ckeditor *ngIf="sharedProp.mainSettings" formControlName="medication" #medication [editor]="customEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>
          
          <br/>

          <h4>{{ privateHealthLang.ES['allergies'] }}:</h4>
          <mat-form-field appearance="fill" class="full">
            <mat-label>{{ privateHealthLang.ES['allergies'] }}</mat-label>
            <input matInput type="text" formControlName="allergies" placeholder="Specify any allergies.">
          </mat-form-field>

          <hr class="dashed" />

          <h4 class="form-title text-center underline-fail">Implants</h4>
          <br/>

          <div formGroupName="implants">
            <div fxLayout="row" fxLayoutAlign="start start">
              <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
                <mat-checkbox formControlName="cochlear_implant" color="primary">{{ privateHealthLang.ES.implants['cochlear_implant'] }}</mat-checkbox><br/>
                <mat-checkbox formControlName="cardiac_stent" color="primary">{{ privateHealthLang.ES.implants['cardiac_stent'] }}</mat-checkbox><br/>
                <mat-checkbox formControlName="metal_prostheses" color="primary">{{ privateHealthLang.ES.implants['metal_prostheses'] }}</mat-checkbox><br/>
                <mat-checkbox formControlName="metal_shards" color="primary">{{ privateHealthLang.ES.implants['metal_shards'] }}</mat-checkbox><br/>
                <mat-checkbox formControlName="pacemaker" color="primary">{{ privateHealthLang.ES.implants['pacemaker'] }}</mat-checkbox><br/>
              </div> <!-- end fxLayout wrapper -->

              <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
                <mat-checkbox (change)="appointmentsService.onCheckOtherImplants($event, form)" color="primary">Another implant type</mat-checkbox><br/>

                <div [class.non-display]="appointmentsService.booleanImplants == false">
                  <mat-form-field appearance="fill" class="full">
                    <mat-label>{{ privateHealthLang.ES.implants['other'] }}</mat-label>
                    <input matInput type="text" formControlName="other" placeholder="Enter the implant type(s).">
                  </mat-form-field>
                </div>
              </div> <!-- end fxLayout wrapper -->
            </div>
          </div>
          <hr class="dashed" />

          <h4 class="form-title text-center underline-fail">COVID-19</h4>
          <br/>

          <div formGroupName="covid19">
            <mat-checkbox formControlName="had_covid" color="primary">{{ privateHealthLang.ES.covid19['had_covid'] }}</mat-checkbox><br/>
            <mat-checkbox formControlName="vaccinated" color="primary">{{ privateHealthLang.ES.covid19['vaccinated'] }}</mat-checkbox><br/>

            <br/>

            <h4>Details:</h4>
            <mat-form-field appearance="fill" class="full">
              <mat-label>Details</mat-label>
              <input matInput type="text" formControlName="details" placeholder="Enter {{ privateHealthLang.ES.covid19['details'] }}">
            </mat-form-field>
          </div>
        </div>
        <!-- Private health end --->

        <hr class="dashed" />

        <h3 class="form-title text-center underline-fail-alt">Hospitalization:</h3>
        <br/>

        <mat-radio-group aria-label="Hospitalization" color="primary" formControlName="outpatient" (change)="appointmentsService.onChangeOutpatient($event, form)">
          <mat-radio-button value="true">Outpatient</mat-radio-button>
          <mat-radio-button value="false">Inpatient</mat-radio-button>
        </mat-radio-group>

        <br/>

        <!-- Inpatient start -->
        <div formGroupName="inpatient" [class.non-display]="appointmentsService.booleanInpatient == false">
          <br/><hr class="dashed" />

          <div fxLayout="row" fxLayoutAlign="start start">
            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <h4>Hospitalization type:</h4>
              <mat-form-field appearance="fill" class="full">
                <mat-label>Hospitalization type</mat-label>
                <mat-select formControlName="type" placeholder="Select the hospitalization type">
                  <div *ngFor="let currentType of inpatient_types | keyvalue">
                    <mat-option value="{{ currentType.key }}">{{ currentType.value }}</mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
            </div> <!-- end fxLayout wrapper -->

            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <h4>Where:</h4>
              <mat-form-field appearance="fill" class="full">
                <mat-label>Where</mat-label>
                <input matInput type="text" formControlName="where" placeholder="Enter where the patient is hospitalized (institution).">
              </mat-form-field>
            </div> <!-- end fxLayout wrapper -->
          </div>

          <div fxLayout="row" fxLayoutAlign="start start">
            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <h4>Room | Ward | Floor:</h4>
              <mat-form-field appearance="fill" class="full">
                <mat-label>Room | Ward | Floor</mat-label>
                <input matInput type="text" formControlName="room" placeholder="Enter the room, ward, or floor where the patient is hospitalized.">
              </mat-form-field>
            </div> <!-- end fxLayout wrapper -->

            <div class="input-wrapper sub-wrapper"> <!-- start fxLayout wrapper -->
              <h4>Contact:</h4>
              <mat-form-field appearance="fill" class="full">
                <mat-label>Contact</mat-label>
                <input matInput type="text" formControlName="contact" placeholder="Enter contact details (phone, mobile, email)">
              </mat-form-field>
            </div> <!-- end fxLayout wrapper -->
          </div>
        </div>
        <!-- Inpatient end -->

        <br/><hr class="dashed" />

        <h3 class="form-title text-center underline-fail-alt">Consents <span class="label-info">Max. {{ sharedProp.mainSettings.appSettings.file_max_size }} MB</span>:</h3>
        <br/>

        <span *ngIf="getKeys(fileManager.controller.informed_consent.files).length > 0; then thenBlockInformedConsent else elseBlockInformedConsent"></span>

        <ng-template #thenBlockInformedConsent>
          <mat-chip-list>
            <mat-chip *ngFor="let informedConsentFile of fileManager.controller.informed_consent.files | keyvalue" class="primary-color">
              <mat-icon (click)="fileManager.download(informedConsentFile.key)">description</mat-icon><span (click)="fileManager.download(informedConsentFile.key)"> &nbsp; INFORMED CONSENT</span> &nbsp;<mat-icon matTooltip="Delete file" (click)="fileManager.delete(informedConsentFile.key, 'informed_consent')">close</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <br/>
        </ng-template>

        <ng-template #elseBlockInformedConsent>
          <input type="file" (change)="fileManager.upload($event, 'informed_consent')" #fileInputInformedConsent style="display: none" />
          <button mat-flat-button type="button" [disabled]="fileManager.controller['informed_consent'].disabled" color="primary" (click)="fileInputInformedConsent.click()">
            <span *ngIf="fileManager.controller['informed_consent'].disabled; then thenBlockInformedConsentDisabled else elseBlockInformedConsentDisabled"></span>
            <ng-template #thenBlockInformedConsentDisabled><mat-icon>cloud_sync</mat-icon> UPLOADING INFORMED CONSENT (<small>{{ fileManager.uploadProgress }}%</small>)</ng-template>
            <ng-template #elseBlockInformedConsentDisabled><mat-icon>draw</mat-icon> UPLOAD INFORMED CONSENT</ng-template>
          </button>
          <br/><br/>
        </ng-template>

        <span *ngIf="getKeys(fileManager.controller.clinical_trial.files).length > 0; then thenBlockClinicalTrial else elseBlockClinicalTrial"></span>

        <ng-template #thenBlockClinicalTrial>
          <mat-chip-list>
            <mat-chip *ngFor="let clinicalTrialFile of fileManager.controller.clinical_trial.files | keyvalue" class="default-color">
              <mat-icon (click)="fileManager.download(clinicalTrialFile.key)">description</mat-icon><span (click)="fileManager.download(clinicalTrialFile.key)"> &nbsp; RESEARCH CONSENT</span> &nbsp;<mat-icon matTooltip="Delete file" (click)="fileManager.delete(clinicalTrialFile.key, 'clinical_trial')">close</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <br/>
        </ng-template>

        <ng-template #elseBlockClinicalTrial>
          <input type="file" (change)="fileManager.upload($event, 'clinical_trial')" #fileInputClinicalTrial style="display: none" />
          <button mat-flat-button type="button" [disabled]="fileManager.controller['clinical_trial'].disabled" (click)="fileInputClinicalTrial.click()">
            <span *ngIf="fileManager.controller['clinical_trial'].disabled; then thenBlockClinicalTrialDisabled else elseBlockClinicalTrialDisabled"></span>
            <ng-template #thenBlockClinicalTrialDisabled><mat-icon>cloud_sync</mat-icon> UPLOADING CONSENT (<small>{{ fileManager.uploadProgress }}%</small>)</ng-template>
            <ng-template #elseBlockClinicalTrialDisabled><mat-icon>science</mat-icon> UPLOAD RESEARCH CONSENT</ng-template>
          </button>
          <br/><br/>
        </ng-template>

        <hr class="dashed" />

        <h3 class="form-title text-center underline-fail-alt">Attachments <span class="label-info">Max. {{ sharedProp.mainSettings.appSettings.file_max_size }} MB</span>:</h3>
        <br/>

        <span *ngIf="getKeys(fileManager.controller.attached_files.files).length > 0; then thenBlockAttached else elseBlockAttached"></span>

        <ng-template #thenBlockAttached>
          <mat-chip-list>
            <mat-chip *ngFor="let currentAtachedFile of fileManager.controller.attached_files.files | keyvalue">
              <mat-icon (click)="fileManager.download(currentAtachedFile.key)">description</mat-icon><span (click)="fileManager.download(currentAtachedFile.key)"> &nbsp;{{ currentAtachedFile.value }}</span> &nbsp;<mat-icon matTooltip="Delete file" (click)="fileManager.delete(currentAtachedFile.key, 'attached_files')">close</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <br/>
        </ng-template>

        <ng-template #elseBlockAttached>
          <div class="text-center">
            <mat-icon>folder_off</mat-icon> <h3>No attachments found.</h3>
          </div>
        </ng-template>

        <hr class="dashed" /><br/>

        <div class="text-right">
          <input type="file" (change)="fileManager.upload($event, 'attached_files')" #fileInputAttached style="display: none" />
          <button mat-flat-button type="button" [disabled]="fileManager.controller['attached_files'].disabled" color="accent" (click)="fileInputAttached.click()">
            <span *ngIf="fileManager.controller['attached_files'].disabled; then thenBlockAttachedDisabled else elseBlockAttachedDisabled"></span>
            <ng-template #thenBlockAttachedDisabled><mat-icon>cloud_sync</mat-icon> UPLOADING FILE (<small>{{ fileManager.uploadProgress }}%</small>)</ng-template>
            <ng-template #elseBlockAttachedDisabled><mat-icon>attach_file</mat-icon> ATTACH FILE</ng-template>
          </button>
        </div>

        <br/>
      </div> <!-- end fxLayout wrapper -->
    </div>

    <div class="clear"></div>

    <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
      <div> <!-- start fxLayout wrapper -->
        <button mat-flat-button type="button" (click)="onCancel();">CANCEL</button>
        <button mat-flat-button type="submit" color="primary">SAVE</button>
      </div> <!-- end fxLayout wrapper -->
    </div>

  </form>
</ng-template>

<ng-template #elseBlockCurrentObj>
  <form class="form-element text-center">
    <br/>
    <mat-icon class="search-off-icon">search_off</mat-icon>

    <br/><br/><hr class="dashed" /><br/>
    <h4>Insufficient data to continue (patient, service, modality, procedure, slot, and/or appointment dates).</h4>

    <button mat-flat-button type="button" (click)="onCancel();">BACK TO LIST</button>

    <br/><br/>
  </form>
</ng-template>
