<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutAlign="start start">

    <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
      <h4>Organization:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Organization</mat-label>
        <mat-select formControlName="fk_organization" placeholder="Select the organization">
          <div *ngFor="let currentOrganization of availableOrganizations">
            <mat-option value="{{ currentOrganization._id }}">{{ currentOrganization.short_name }} ({{ currentOrganization.name }})</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>Short name:</h4>
      <mat-form-field appearance="fill" class="medium">
        <mat-label>Short name</mat-label>
        <input matInput type="text" formControlName="short_name" placeholder="Enter the short name">
      </mat-form-field>

      <h4>Name:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Enter the name">
      </mat-form-field>

      <h4>OID:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>OID</mat-label>
        <input matInput icNumbersWD type="text" formControlName="OID" placeholder="Enter the OID">
      </mat-form-field>

      <h4>Branch country:</h4>
      <mat-form-field appearance="fill" class="medium">
        <mat-label>Branch country</mat-label>
        <mat-select formControlName="country_code">
          <div *ngFor="let currentCode of getKeys(country_codes, true)">
            <mat-option value="{{ currentCode }}"><span class="flag-icon flag-icon-{{ country_codes[currentCode].alpha_2 | lowercase }}"></span>&nbsp;&nbsp;&nbsp;{{ country_codes[currentCode].name }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>Structure ID:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Structure ID</mat-label>
        <input matInput icNumbers type="text" formControlName="structure_id" placeholder="Enter the structure ID">
      </mat-form-field>

      <h4>Suffix:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Suffix</mat-label>
        <input matInput icNumbersWD type="text" formControlName="suffix" placeholder="Enter the suffix">
      </mat-form-field>

      <br/><br/>
    </div> <!-- end fxLayout wrapper -->

    <div class="input-wrapper"> <!-- start fxLayout wrapper -->
      <h4>Appointment footer <span class="label-info">min: 10, max: 3000</span>:</h4>
      <ckeditor formControlName="appointment_footer" #appointmentFooter [editor]="appointmentFooterEditor" [config]="sharedProp.mainSettings.CKEditorConfig" data=""></ckeditor>

      <br/><hr class="dashed" /><br/>

      <div *ngIf="selectedLogoController; then thenBlockLogo else elseBlockLogo"></div>

      <ng-template #thenBlockLogo>
        <button mat-flat-button type="button" class="logo-button">
          <mat-icon>image</mat-icon> BRANCH LOGO <mat-icon *ngIf="form_action == 'update' && selectedFile === null" matTooltip="Delete organization logo" class="delete-logo" (click)="onDeleteFileRef('base64_logo')">close</mat-icon>
        </button>
        
      </ng-template>

      <ng-template #elseBlockLogo>
        <input type="file" (change)="onFileSelected($event)" #fileInput style="display: none" />
        <button mat-flat-button type="button" color="accent" (click)="fileInput.click()">
        <mat-icon>add_photo_alternate</mat-icon> SELECT BRANCH LOGO</button>
      </ng-template>

      <div class="clear"></div><br/><hr class="dashed" /><br/>

      <h4>Status:</h4>
      <mat-radio-group aria-label="Status" color="primary" formControlName="status">
        <mat-radio-button value="true">Active</mat-radio-button>
        <mat-radio-button value="false">Inactive</mat-radio-button>
      </mat-radio-group>

    </div> <!-- end fxLayout wrapper -->

  </div>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">CANCEL</button>
      <button mat-flat-button type="submit" color="primary">SAVE</button> <!-- [disabled]="form_data.invalid" -->
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
