<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-tab-group>

    <!-- PEOPLE TAB: ---------------------------------------------------------------------------------------------------------------- -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">person</mat-icon>
        Person &nbsp;
        <span *ngIf="personOperation">
          <div [ngSwitch]="personOperation">
            <mat-icon *ngSwitchCase="'insert'" matTooltip="Add new record" class="label-alt label-tab">add</mat-icon>
            <mat-icon *ngSwitchCase="'update'" matTooltip="Update existing record" class="label-info label-tab">edit</mat-icon>
          </div>
        </span>
        <mat-icon *ngIf="personTabErrors" class="validate-error-tab" matTooltip="There are validation errors under this tab">priority_high</mat-icon>
      </ng-template>

      <div formGroupName="person">
        <h2 class="form-title text-center underline-fail-alt">
          Person details:
          <mat-icon class="label-light label-tab anonymize-button" (click)="anonymizeUser()" matTooltip="Anonymize user">person_off</mat-icon>
        </h2>

        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
            <div class="documents">
              <h4>Documents:</h4>
              <mat-form-field appearance="fill" class="medium document_inputs">
                <mat-label>Document country</mat-label>
                <mat-select formControlName="doc_country_code" (selectionChange)="onSetDocument(true)">
                  <div *ngFor="let currentCode of getKeys(country_codes, true)">
                    <mat-option value="{{ currentCode }}"><span class="flag-icon flag-icon-{{ country_codes[currentCode].alpha_2 | lowercase }}"></span>&nbsp;&nbsp;&nbsp;{{ country_codes[currentCode].name }}</mat-option>
                  </div>
                </mat-select>
              </mat-form-field>

              <br/>

              <mat-form-field appearance="fill" class="medium document_inputs">
                <mat-label>Document type</mat-label>
                <mat-select formControlName="doc_type" (selectionChange)="onSetDocument(true)">
                  <div *ngFor="let currentDocType of document_types | keyvalue: unsorted">
                    <mat-option value="{{ currentDocType.key }}">{{ currentDocType.value }}</mat-option>
                  </div>
                </mat-select>
              </mat-form-field>

              <br/>

              <mat-form-field appearance="fill" class="medium document_inputs">
                <mat-label>Document</mat-label>
                <input matInput type="text" formControlName="document" placeholder="Enter the document number" (blur)="onSetDocument()" (keyup)="validateDocument()">
              </mat-form-field>
            </div>


            <div *ngIf="getKeys(documents).length > 0" class="documents-info text-right">
              <small>Person document(s):</small><br/>
              <span *ngFor="let currentDoc of documents" >
                <span matTooltip="{{ country_codes[currentDoc.doc_country_code].name }}" class="flag-icon flag-icon-{{ country_codes[currentDoc.doc_country_code].alpha_2 | lowercase }}"></span>&nbsp;
                <span matTooltip="{{ document_types[currentDoc.doc_type] }}">
                  <span>{{ currentDoc.document }}</span>
                </span>
                <br/>
              </span>
            </div>

            <div *ngIf="this.registered_doc_type === true" class="validate-info text-right">
              <div *ngIf="this.validation_result; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock><span class="label-accent" matTooltip="The entered document passed validation.">Document validation: <mat-icon class="validate-icon color-ok">done</mat-icon></span></ng-template>
              <ng-template #elseBlock><span class="label-accent" matTooltip="The entered document did not pass validation.">Document validation: <mat-icon class="validate-icon color-fail">clear</mat-icon></span></ng-template>
            </div>

            <div class="clear"></div>

            <hr class="dashed" /><br/>

            <h4>Given names:</h4>
            <mat-form-field appearance="fill" class="medium">
              <mat-label>First name</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="name_01" placeholder="Enter the first name">
            </mat-form-field>

            <mat-form-field appearance="fill" class="medium">
              <mat-label>Middle name</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="name_02" placeholder="Enter the middle name">
            </mat-form-field>

            <br/>

            <h4>Surnames:</h4>
            <mat-form-field appearance="fill" class="medium">
              <mat-label>First surname</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="surname_01" placeholder="Enter the first surname">
            </mat-form-field>

            <mat-form-field appearance="fill" class="medium">
              <mat-label>Second surname</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="surname_02" placeholder="Enter the second surname">
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>Gender:</h4>
            <mat-radio-group aria-label="Gender" color="primary" formControlName="gender">
              <mat-radio-button [class.validate-error]="genderCheckErrors === true" (change)="genderCheckErrors = false" *ngFor="let currentGender of genderTypes | keyvalue;" value="{{ currentGender.key }}">{{ currentGender.value }}</mat-radio-button>
            </mat-radio-group>

            <br/><br/>

          </div> <!-- end fxLayout wrapper -->

          <div class="input-wrapper"> <!-- start fxLayout wrapper -->

            <h4>Date of birth:</h4>
            <mat-form-field appearance="fill" class="medium" (click)="picker.open()">
              <mat-label>Select a date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birth_date" (keydown)="false">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint align="end">Click to select a date ^</mat-hint>
            </mat-form-field>

            <br/><br/><hr class="dashed" /><br/>

            <h4>Primary contact phone:</h4>
            <mat-form-field appearance="fill" class="large">
              <mat-label>Phone number</mat-label>
              <input matInput icNumbers type="text" formControlName="phone_numbers[0]" placeholder="Enter the phone number">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint align="start">Include the area code if necessary</mat-hint>
            </mat-form-field>

            <br/><br/>

            <h4>Alternate contact:</h4>
            <mat-form-field appearance="fill" class="large">
              <mat-label>Phone number</mat-label>
              <input matInput icNumbers type="text" formControlName="phone_numbers[1]" placeholder="Enter the alternate phone number">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint align="start">Include the area code if necessary</mat-hint>
            </mat-form-field>

          </div> <!-- end fxLayout wrapper -->
        </div>
      </div>
    </mat-tab>
    <!-- PEOPLE TAB: ---------------------------------------------------------------------------------------------------------------- -->


    <!-- USER TAB: ------------------------------------------------------------------------------------------------------------------ -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">account_circle</mat-icon>
        User &nbsp;
        <span *ngIf="userOperation">
          <div [ngSwitch]="userOperation">
            <mat-icon *ngSwitchCase="'insert'" matTooltip="Add new record" class="label-alt label-tab">add</mat-icon>
            <mat-icon *ngSwitchCase="'update'" matTooltip="Update existing record" class="label-info label-tab">edit</mat-icon>
          </div>
        </span>
        <mat-icon *ngIf="userTabErrors" class="validate-error-tab" matTooltip="There are validation errors under this tab">priority_high</mat-icon>
      </ng-template>

      <div formGroupName="user">
        <h2 class="form-title text-center underline-fail-alt">User details:</h2>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->

            <h4>Email:</h4>
            <mat-form-field appearance="fill" class="large">
              <mat-label>E-mail</mat-label>
              <input matInput type="text" id="IDtxtEmail" formControlName="email" placeholder="e.g. name@email.com" (change)="onSetEmail()">
              <mat-icon matSuffix (click)="setDefaultEmail()" matTooltip="Set default email">mail</mat-icon>
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>User password <span *ngIf="userOperation == 'update'" class="label-info">Leave empty if you do not want to change it</span>:</h4>

            <mat-form-field appearance="fill" class="large">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" placeholder="Enter a password, minimum 8 characters">
              <mat-hint align="start">Minimum length: 8 characters</mat-hint>
            </mat-form-field>

            <br/><br/>

            <mat-form-field appearance="fill" class="large">
              <mat-label>Repeat the password</mat-label>
              <input matInput type="password" formControlName="password_repeat" placeholder="Repeat the password">
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>Status:</h4>
            <mat-radio-group aria-label="Status" color="primary" formControlName="status">
              <mat-radio-button value="true">Active</mat-radio-button>
              <mat-radio-button value="false">Inactive</mat-radio-button>
            </mat-radio-group>

            <br/><br/>

          </div> <!-- end fxLayout wrapper -->

          <div class="input-wrapper"> <!-- start fxLayout wrapper -->

            <h4>Professional details:</h4>
            <mat-form-field appearance="fill" class="medium">
              <mat-label>Professional number</mat-label>
              <input matInput type="text" formControlName="professional[id]" placeholder="Enter the professional number">
            </mat-form-field>

            <br/>

            <mat-form-field appearance="fill" class="large">
              <mat-label>Description</mat-label>
              <input matInput type="text" formControlName="professional[description]" placeholder="Enter a description of the professional">
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>Workload <span class="label-info">Weekly hours</span>:</h4>
            <mat-form-field appearance="fill">
              <mat-label>Workload</mat-label>
              <input matInput icNumbers type="text" formControlName="professional[workload]" placeholder="Enter the professional's workload">
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>Currently on leave:</h4>
            <mat-radio-group aria-label="On leave" color="primary" formControlName="professional[vacation]">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>

            <br><br/>

          </div> <!-- end fxLayout wrapper -->

        </div>
      </div>
    </mat-tab>
    <!-- USER TAB: ------------------------------------------------------------------------------------------------------------------ -->


    <!-- PERMISSIONS TAB: ----------------------------------------------------------------------------------------------------------- -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">admin_panel_settings</mat-icon>
        Permissions &nbsp;
        <span *ngIf="userOperation">
          <div [ngSwitch]="userOperation">
            <mat-icon *ngSwitchCase="'insert'" matTooltip="Add new record" class="label-alt label-tab">add</mat-icon>
            <mat-icon *ngSwitchCase="'update'" matTooltip="Update existing record" class="label-info label-tab">edit</mat-icon>
          </div>
        </span>
        <mat-icon *ngIf="permissionTabErrors" class="validate-error-tab" matTooltip="There are validation errors under this tab">priority_high</mat-icon>
      </ng-template>

      <!-- 1: Superuser, 2: Administrator -->
      <!-- Only superusers and administrators can set permissions -->
      <div class="permission-denied" [class.non-display]="sharedProp.userLogged.permissions[0].role == 1 || sharedProp.userLogged.permissions[0].role == 2">
        <mat-icon>gpp_maybe</mat-icon><br/><br/>
        Only system administrators can configure user permissions.<br/>
        If you need to change access, please contact your administrator.
      </div>

      <span [class.non-display]="sharedProp.userLogged.permissions[0].role !== 1 && sharedProp.userLogged.permissions[0].role !== 2">
        <h2 class="form-title text-center underline-fail-alt">User permissions:</h2>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->

            <h4>Role:</h4>
            <mat-form-field appearance="fill" class="medium">
              <mat-label>Role</mat-label>
              <mat-select formControlName="role" (selectionChange)="userService.onSetRole($event, form)">
                <div *ngFor="let currentRole of userRoles | keyvalue">
                  <div *ngIf="currentRole.key == 1; then thenBlockRole else elseBlockRole"></div>
                  <ng-template #thenBlockRole>
                    <!--Only superuser can add Superuser role -->
                    <mat-option *ngIf="sharedProp.userLogged.permissions[0].role == 1" value="{{ currentRole.key }}">{{ currentRole.value }}</mat-option>
                  </ng-template>

                  <ng-template #elseBlockRole>
                    <mat-option value="{{ currentRole.key }}">{{ currentRole.value }}</mat-option>
                  </ng-template>
                </div>
              </mat-select>
            </mat-form-field>

            <br/><hr class="dashed" /><br/>

            <h4>Domain type:</h4>
            <mat-radio-group aria-label="Domain type" color="primary" formControlName="domain_type">
              <mat-radio-button value ="organization" [disabled]="userService.disableRadioOrganization">Organization</mat-radio-button>
              <mat-radio-button value ="branch" [disabled]="userService.disableRadioBranch">Branch</mat-radio-button>
              <mat-radio-button value ="service" [disabled]="userService.disableRadioService">Service</mat-radio-button>
            </mat-radio-group>

            <br/><br/>

            <div [ngSwitch]="form.value.domain_type">
              <!--ORGANIZATION-->
              <span *ngSwitchCase="'organization'">
                <h4>Domain:</h4>
                <mat-form-field appearance="fill" class="large">
                  <mat-label>Domain</mat-label>
                  <mat-select formControlName="domain" placeholder="Select the domain">
                    <div *ngFor="let currentOrganization of availableOrganizations">
                      <mat-option value="{{ currentOrganization._id }}">{{ currentOrganization.short_name }} ({{ currentOrganization.name }})</mat-option>
                    </div>
                  </mat-select>
                </mat-form-field>
              </span>

              <!--BRANCH-->
              <span *ngSwitchCase="'branch'">
                <h4>Domain:</h4>
                <mat-form-field appearance="fill" class="large">
                  <mat-label>Domain</mat-label>
                  <mat-select formControlName="domain" placeholder="Select the domain">
                    <div *ngFor="let currentBranch of availableBranches">
                      <div *ngFor="let currentOrganization of availableOrganizations">
                        <mat-option *ngIf="currentBranch.fk_organization == currentOrganization._id" value="{{ currentBranch._id }}">{{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ({{ currentBranch.name }})</mat-option>
                      </div>
                    </div>
                  </mat-select>
                </mat-form-field>
              </span>

              <!--SERVICE-->
              <span *ngSwitchCase="'service'">
                <h4>Domain:</h4>
                <mat-form-field appearance="fill" class="large">
                  <mat-label>Domain</mat-label>
                  <mat-select formControlName="domain" placeholder="Select the domain">
                    <div *ngFor="let currentService of availableServices">
                      <div *ngFor="let currentBranch of availableBranches">
                        <div *ngFor="let currentOrganization of availableOrganizations">
                          <mat-option *ngIf="currentBranch.fk_organization == currentOrganization._id && currentService.fk_branch == currentBranch._id" value="{{ currentService._id }}">{{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ► {{ currentService.name }}</mat-option>
                        </div>
                      </div>
                    </div>
                  </mat-select>
                </mat-form-field>
              </span>
            </div>

            <hr class="dashed" /><br/>

            <h4>Specific grants:</h4>
            <div fxLayout="row" fxLayoutAlign="start start" class="item-container" formArrayName="concessions">
              <div class="input-wrapper"> <!-- start fxLayout wrapper -->
                <ng-container *ngFor="let currentConcessions of userConcessions | keyvalue: unsorted; ; let i = index;">
                  <span *ngIf="i + 1 <= getMath.ceil(getKeys(userConcessions).length / 2)">
                    <mat-checkbox color="primary" (change)="onCheckConcession($event, currentConcessions.key)">{{ currentConcessions.value }}</mat-checkbox><br/>
                  </span>
                </ng-container>
              </div> <!-- end fxLayout wrapper -->

              <div class="input-wrapper"> <!-- start fxLayout wrapper -->
                <ng-container *ngFor="let currentConcessions of userConcessions | keyvalue: unsorted; ; let i = index;">
                  <span *ngIf="i + 1 > getMath.ceil(getKeys(userConcessions).length / 2)">
                    <mat-checkbox color="primary" (change)="onCheckConcession($event, currentConcessions.key)">{{ currentConcessions.value }}</mat-checkbox><br/>
                  </span>
                </ng-container>
              </div> <!-- end fxLayout wrapper -->
            </div>

            <br/><hr class="dashed" /><br/>

            <div class="text-right">
              <button mat-flat-button type="button" color="accent" (click)="userService.addPermission(form, permissions, selectedConcession)"><mat-icon>add</mat-icon> ADD PERMISSION</button>
            </div>

            <br/>
          </div> <!-- end fxLayout wrapper -->


          <div class="input-wrapper"> <!-- start fxLayout wrapper -->
            <div *ngIf="getKeys(permissions).length > 0; then thenBlockPermissions else elseBlockPermissions"></div>

            <ng-template #thenBlockPermissions>
              <h4>Permissions assigned to the user:</h4>

              <div  class="permission-container">
                <ng-container *ngFor="let currentPermission of permissions; let permissionIndex = index;">

                    <!--ORGANIZATION DOMAIN-->
                    <span *ngIf="currentPermission.organization">
                      <div *ngFor="let currentOrganization of availableOrganizations">
                        <div *ngIf="currentOrganization._id == currentPermission.organization" class="permission-table">
                          <div class="permission-header">
                            <div class="permission-title">{{ userRoles[currentPermission.role] }}</div>
                            <div class="permission-button"><mat-icon matTooltip="Remove this permission" (click)="userService.removePermission(permissionIndex, permissions)">close</mat-icon></div>
                            <div class="clear"></div>
                          </div>
                          <div><strong>Organization:</strong> {{ currentOrganization.short_name }} ({{ currentOrganization.name }})</div>
                          <div><strong>Grants: </strong>
                            <div *ngIf="currentPermission.concession && currentPermission.concession.length > 0 then thenBlockConcession else elseBlockConcession"></div>

                            <ng-template #thenBlockConcession>
                              <ng-container *ngFor="let currentConcession of currentPermission.concession;">
                                {{ userConcessions[currentConcession] + ', ' }}
                              </ng-container>
                            </ng-template>

                            <ng-template #elseBlockConcession>No concessions.</ng-template>
                          </div>
                        </div>
                      </div>
                    </span>

                    <!--BRANCH DOMAIN-->
                    <span *ngIf="currentPermission.branch">
                      <div *ngFor="let currentBranch of availableBranches">
                        <div *ngFor="let currentOrganization of availableOrganizations">
                          <div *ngIf="currentBranch.fk_organization == currentOrganization._id && currentBranch._id == currentPermission['branch']" class="permission-table">
                            <div class="permission-header">
                              <div class="permission-title">{{ userRoles[currentPermission.role] }}</div>
                              <div class="permission-button"><mat-icon matTooltip="Remove this permission" (click)="userService.removePermission(permissionIndex, permissions)">close</mat-icon></div>
                              <div class="clear"></div>
                            </div>
                            <div><strong>Branch:</strong> {{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ({{ currentBranch.name }})</div>
                            <div><strong>Grants: </strong>
                              <div *ngIf="currentPermission.concession && currentPermission.concession.length > 0; then thenBlockConcession else elseBlockConcession"></div>

                              <ng-template #thenBlockConcession>
                                <ng-container *ngFor="let currentConcession of currentPermission.concession;">
                                  {{ userConcessions[currentConcession] + ', ' }}
                                </ng-container>
                              </ng-template>

                              <ng-template #elseBlockConcession>No concessions.</ng-template>
                            </div>
                          </div>
                        </div>
                      </div>
                    </span>

                    <!--SERVICE DOMAIN-->
                    <span *ngIf="currentPermission.service">
                      <div *ngFor="let currentService of availableServices">
                        <div *ngFor="let currentBranch of availableBranches">
                          <div *ngFor="let currentOrganization of availableOrganizations">
                            <div *ngIf="currentBranch.fk_organization == currentOrganization._id && currentService.fk_branch == currentBranch._id && currentService._id == currentPermission['service']" class="permission-table">
                              <div class="permission-header">
                                <div class="permission-title">{{ userRoles[currentPermission.role] }}</div>
                                <div class="permission-button"><mat-icon matTooltip="Remove this permission" (click)="userService.removePermission(permissionIndex, permissions)">close</mat-icon></div>
                                <div class="clear"></div>
                              </div>
                              <div><strong>Service:</strong> {{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ► {{ currentService.name }}</div>
                              <div><strong>Grants: </strong>
                                <div *ngIf="currentPermission.concession && currentPermission.concession.length > 0; then thenBlockConcession else elseBlockConcession"></div>

                                <ng-template #thenBlockConcession>
                                  <ng-container *ngFor="let currentConcession of currentPermission.concession;">
                                    {{ userConcessions[currentConcession] + ', ' }}
                                  </ng-container>
                                </ng-template>

                                <ng-template #elseBlockConcession>No concessions.</ng-template>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </span>
                </ng-container>
              </div>
            </ng-template>

            <ng-template #elseBlockPermissions>
              <br/><span class="label-accent">The user has no assigned permissions</span>
            </ng-template>

            <br/><br/>

            <div class="permission-card">
              <mat-icon>info</mat-icon>&nbsp;
              <span>You must save the form for permission changes to take effect.</span>
            </div>

          </div> <!-- end fxLayout wrapper -->
        </div>
      </span>
    </mat-tab>
    <!-- PERMISSIONS TAB: ----------------------------------------------------------------------------------------------------------- -->

  </mat-tab-group>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">CANCEL</button>
      <button mat-flat-button type="submit" color="primary" [disabled]="disabled_save_button">SAVE</button>
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
