<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-tab-group>

    <!-- PEOPLE TAB: ---------------------------------------------------------------------------------------------------------------- -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">person</mat-icon>
        Person &nbsp;
        <span *ngIf="personOperation">
          <div [ngSwitch]="personOperation">
            <mat-icon *ngSwitchCase="'insert'" matTooltip="Insert new record" class="label-alt label-tab">add</mat-icon>
            <mat-icon *ngSwitchCase="'update'" matTooltip="Update existing record" class="label-info label-tab">edit</mat-icon>
          </div>
        </span>
        <mat-icon *ngIf="personTabErrors" class="validate-error-tab" matTooltip="There are validation errors on this tab">priority_high</mat-icon>
      </ng-template>

      <div formGroupName="person">
        <h2 class="form-title text-center underline-fail-alt">
          Person details:
          <mat-icon class="label-light label-tab anonymize-button" (click)="anonymizeUser()" matTooltip="Anonymize user">person_off</mat-icon>
        </h2>
        
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
            <div class="documents">
              <h4>Documents:</h4>
              <mat-form-field appearance="fill" class="medium document_inputs">
                <mat-label>Document country</mat-label>
                <mat-select formControlName="doc_country_code" (selectionChange)="onSetDocument(true)">
                  <div *ngFor="let currentCode of getKeys(country_codes, true)">
                    <mat-option value="{{ currentCode }}"><span class="flag-icon flag-icon-{{ country_codes[currentCode].alpha_2 | lowercase }}"></span>&nbsp;&nbsp;&nbsp;{{ country_codes[currentCode].name }}</mat-option>
                  </div>
                </mat-select>
              </mat-form-field>

              <br/>

              <mat-form-field appearance="fill" class="medium document_inputs">
                <mat-label>Document type</mat-label>
                <mat-select formControlName="doc_type" (selectionChange)="onSetDocument(true)">
                  <div *ngFor="let currentDocType of document_types | keyvalue: unsorted">
                    <mat-option value="{{ currentDocType.key }}">{{ currentDocType.value }}</mat-option>
                  </div>
                </mat-select>
              </mat-form-field>

              <br/>

              <mat-form-field appearance="fill" class="medium document_inputs">
                <mat-label>Document</mat-label>
                <input matInput type="text" formControlName="document" placeholder="Enter the document number" (blur)="onSetDocument()" (keyup)="validateDocument()">
              </mat-form-field>
            </div>


            <div *ngIf="getKeys(documents).length > 0" class="documents-info text-right">
              <small>Person document(s):</small><br/>
              <span *ngFor="let currentDoc of documents" >
                <span matTooltip="{{ country_codes[currentDoc.doc_country_code].name }}" class="flag-icon flag-icon-{{ country_codes[currentDoc.doc_country_code].alpha_2 | lowercase }}"></span>&nbsp;
                <span matTooltip="{{ document_types[currentDoc.doc_type] }}">
                  <span>{{ currentDoc.document }}</span>
                </span>
                <br/>
              </span>
            </div>

            <div *ngIf="this.registered_doc_type === true" class="validate-info text-right">
              <div *ngIf="this.validation_result; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock><span class="label-accent" matTooltip="The entered document passes validation.">Document validation: <mat-icon class="validate-icon color-ok">done</mat-icon></span></ng-template>
              <ng-template #elseBlock><span class="label-accent" matTooltip="The entered document does NOT pass validation.">Document validation: <mat-icon class="validate-icon color-fail">clear</mat-icon></span></ng-template>
            </div>

            <div class="clear"></div>

            <hr class="dashed" /><br/>

            <h4>First names:</h4>
            <mat-form-field appearance="fill" class="medium">
              <mat-label>First name</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="name_01" placeholder="Enter the first name">
            </mat-form-field>

            <mat-form-field appearance="fill" class="medium">
              <mat-label>Second name</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="name_02" placeholder="Enter the second name">
            </mat-form-field>

            <br/>

            <h4>Last names:</h4>
            <mat-form-field appearance="fill" class="medium">
              <mat-label>First last name</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="surname_01" placeholder="Enter the first last name">
            </mat-form-field>

            <mat-form-field appearance="fill" class="medium">
              <mat-label>Second last name</mat-label>
              <input matInput icSpecialCharsWS type="text" formControlName="surname_02" placeholder="Enter the second last name">
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>Gender:</h4>
            <mat-radio-group aria-label="Gender" color="primary" formControlName="gender">
              <mat-radio-button [class.validate-error]="genderCheckErrors === true" (change)="genderCheckErrors = false" *ngFor="let currentGender of genderTypes | keyvalue;" value="{{ currentGender.key }}">{{ currentGender.value }}</mat-radio-button>
            </mat-radio-group>

            <br/><br/>

          </div> <!-- end fxLayout wrapper -->

          <div class="input-wrapper"> <!-- start fxLayout wrapper -->

            <h4>Date of birth:</h4>
            <mat-form-field appearance="fill" class="medium" (click)="picker.open()">
              <mat-label>Select date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birth_date" (keydown)="false">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint align="end">Click to select a date ^</mat-hint>
            </mat-form-field>

            <br/><br/><hr class="dashed" /><br/>

            <h4>Contact phone:</h4>
            <mat-form-field appearance="fill" class="large">
              <mat-label>Phone number</mat-label>
              <input matInput icNumbers type="text" formControlName="phone_numbers[0]" placeholder="Enter the phone number">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint align="start">Include the area code if needed</mat-hint>
            </mat-form-field>

            <br/><br/>

            <h4>Alternate contact:</h4>
            <mat-form-field appearance="fill" class="large">
              <mat-label>Phone number</mat-label>
              <input matInput icNumbers type="text" formControlName="phone_numbers[1]" placeholder="Enter the alternate phone number">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint align="start">Include the area code if needed</mat-hint>
            </mat-form-field>

          </div> <!-- end fxLayout wrapper -->
        </div>
      </div>
    </mat-tab>
    <!-- PEOPLE TAB: ---------------------------------------------------------------------------------------------------------------- -->


    <!-- USER TAB: ------------------------------------------------------------------------------------------------------------------ -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">account_circle</mat-icon>
        User &nbsp;
        <span *ngIf="userOperation">
          <div [ngSwitch]="userOperation">
            <mat-icon *ngSwitchCase="'insert'" matTooltip="Insert new record" class="label-alt label-tab">add</mat-icon>
            <mat-icon *ngSwitchCase="'update'" matTooltip="Update existing record" class="label-info label-tab">edit</mat-icon>
          </div>
        </span>
        <mat-icon *ngIf="userTabErrors" class="validate-error-tab" matTooltip="There are validation errors on this tab">priority_high</mat-icon>
      </ng-template>

      <div formGroupName="user">
        <h2 class="form-title text-center underline-fail-alt">User details:</h2>
        <div fxLayout="row" fxLayoutAlign="start start">
          <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->

            <h4>Email:</h4>
            <mat-form-field appearance="fill" class="large">
              <mat-label>E-mail</mat-label>
              <input matInput type="text" id="IDtxtEmail" formControlName="email" placeholder="e.g., name@mail.com" (change)="onSetEmail()">
              <mat-icon matSuffix (click)="setDefaultEmail()" matTooltip="Set default email">mail</mat-icon>
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>User password <span *ngIf="userOperation == 'update'" class="label-info">Leave blank if you do not want to modify it</span>:</h4>

            <mat-form-field appearance="fill" class="large">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" placeholder="Enter a password, minimum 8 characters">
              <mat-hint align="start">Minimum length: 8 characters</mat-hint>
            </mat-form-field>

            <br/><br/>

            <mat-form-field appearance="fill" class="large">
              <mat-label>Repeat the password</mat-label>
              <input matInput type="password" formControlName="password_repeat" placeholder="Repeat the password">
            </mat-form-field>

            <hr class="dashed" /><br/>

            <h4>Status:</h4>
            <mat-radio-group aria-label="Status" color="primary" formControlName="status">
              <mat-radio-button value="true">Active</mat-radio-button>
              <mat-radio-button value="false">Inactive</mat-radio-button>
            </mat-radio-group>

            <br/><br/>

          </div> <!-- end fxLayout wrapper -->


          <div class="input-wrapper"> <!-- start fxLayout wrapper -->
            <!-- Only superuser can set patient organization -->
            <div [class.non-display]="sharedProp.userLogged.permissions[0].role !== 1">
              <h4>Patient organization <span class="label-info">Patient permissions</span>:</h4>
              <mat-form-field appearance="fill" class="large">
                <mat-label>Organization</mat-label>
                <mat-select formControlName="organization"  placeholder="Select the organization">
                  <div *ngFor="let currentOrganization of availableOrganizations">
                    <mat-option value="{{ currentOrganization._id }}">{{ currentOrganization.short_name }} ({{ currentOrganization.name }})</mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="text-center" [class.non-display]="sharedProp.userLogged.permissions[0].role === 1">
              <img class="form_nodes" src="../../../../../assets/img/nodes.png" alt="nodes">
            </div>
          </div> <!-- end fxLayout wrapper -->

        </div>
      </div>
    </mat-tab>
    <!-- USER TAB: ------------------------------------------------------------------------------------------------------------------ -->

  </mat-tab-group>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">CANCEL</button>
      <button mat-flat-button type="submit" color="primary" [disabled]="disabled_save_button">NEXT &nbsp;►</button>
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
