<form class="form-element" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutAlign="start start">

    <div class="input-wrapper divider"> <!-- start fxLayout wrapper -->
      <h4>Branch:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Branch</mat-label>
        <mat-select formControlName="fk_branch" (selectionChange)="onChangeBranch($event)" placeholder="Select the branch">
          <div *ngFor="let currentBranch of availableBranches">
            <div *ngFor="let currentOrganization of availableOrganizations">
              <mat-option *ngIf="currentBranch.fk_organization == currentOrganization._id" value="{{ currentBranch._id }}">{{ currentOrganization.short_name }} ► {{ currentBranch.short_name }} ({{ currentBranch.name }})</mat-option>
            </div>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>Name:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Enter the name">
      </mat-form-field>

      <h4>Equipment:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Equipment</mat-label>
        <mat-select formControlName="fk_equipments" (closed)="onChangeEquipment()" placeholder="Select the equipment" multiple>
          <div *ngFor="let currentEquipment of availableEquipments">
            <mat-option #matOption (click)="addModalities(matOption.selected, currentEquipment._id, currentEquipment.fk_modalities)" value="{{ currentEquipment._id }}">{{ currentEquipment.name }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>Modality:</h4>
      <mat-form-field appearance="fill" class="large">
        <mat-label>Modality</mat-label>
        <mat-select formControlName="fk_modality" placeholder="Select the modality">
          <div *ngFor="let currentModality of availableModalities">
            <mat-option value="{{ currentModality._id }}">{{ currentModality.code_value }} ({{ currentModality.code_meaning }})</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <h4>Status:</h4>
      <mat-radio-group aria-label="Status" color="primary" formControlName="status">
        <mat-radio-button value="true">Active</mat-radio-button>
        <mat-radio-button value="false">Inactive</mat-radio-button>
      </mat-radio-group>

      <br/><br/>
    </div> <!-- end fxLayout wrapper -->

    <div class="input-wrapper text-center"> <!-- start fxLayout wrapper -->
      <img class="form_nodes" src="../../../../../assets/img/nodes.png" alt="nodes">
    </div> <!-- end fxLayout wrapper -->

  </div>

  <div class="action-wrapper"fxLayout="row" fxLayoutAlign="end center">
    <div> <!-- start fxLayout wrapper -->
      <button mat-flat-button type="button" (click)="onCancel();">CANCEL</button>
      <button mat-flat-button type="submit" color="primary">SAVE</button> <!-- [disabled]="form_data.invalid" -->
    </div> <!-- end fxLayout wrapper -->
  </div>
</form>
